/*==============================
font and icons for custom-box styles
=================================*/
@font-face {
    font-family: 'symbols-nerds';
    src: url('../font/symbols-nerds.eot?27841936');
    src: url('../font/symbols-nerds.eot?27841936#iefix') format('embedded-opentype'), url('../font/symbols-nerds.woff?27841936') format('woff'), url('../font/symbols-nerds.ttf?27841936') format('truetype'), url('../font/symbols-nerds.svg?27841936#symbols-nerds') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
    font-family: "symbols-nerds";
    font-style: normal;
    font-weight: normal;
    speak: none;
    display: inline-block;
    vertical-align: baseline;
    text-decoration: inherit;
    width: 1em;
    margin-right: .2em;
    text-align: center;
    /* opacity: .8; */
    /* For safety - reset parent styles, that can break glyph codes*/
    font-variant: normal;
    text-transform: none;
    /* fix buttons height, for twitter bootstrap */
    line-height: 1em;
    /* Animation center compensation - margins should be symmetric */
    /* remove if not needed */
    /* margin-left: .2em; */
    /* you can be more comfortable with increased icons size */
    /* font-size: 120%; */
    /* Uncomment for 3D effect */
    /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}

.icon-basket:before {
    content: '\62';
}
/* 'b' */

.icon-facebook:before {
    content: '\66';
}
/* 'f' */

.icon-twitter:before {
    content: '\74';
}
/* 't' */

.icon-vk:before {
    content: '\76';
}
/* 'v' */

.icon-up-dir:before {
    content: '\25b2';
}
/* '▲' */

.icon-down-dir:before {
    content: '\25bc';
}
/* '▼' */

.icon-circle:before {
    content: '\25cb';
}
/* '○' */

.icon-circle-dot:before {
    content: '\25cf';
}
/* '●' */

.icon-check-off:before {
    content: '\2610';
}
/* '☐' */

.icon-check-on:before {
    content: '\2611';
}


/* '☑' */

.icon-instagramm:before {
    content: '📷';
}
/*==============================
custom box styles (checkbox)
=================================*/
.custom-box label {
    display: inline-block;
    vertical-align: middle;
    position: relative;
    padding-left: 35px;

    font-size: 16px;
    line-height: 28px;
    color: #283136;
}

.custom-box label:before {
    position: absolute;
    top: 4px;
    left: 0;

    font-size: 28px;
    line-height: 28px;
    color: #8e8e8e;
}

.custom-box label:hover {
    color: #000;
}

.custom-box label:hover:before {
    color: #7a7a7a;
}

.custom-box input[type="radio"],
.custom-box input[type="checkbox"] {
    display: none;
}

.custom-box input:checked + label:before {
    content: '\2611';
}

/*==============================
Fix bootstrap styles
=================================*/
@media (max-width: 1100px) {
    .container-fluid {
        width: 1100px;
    }
}

body {
    padding-top: 60px;
}

.container-fluid {
    margin-left: 10px;
    margin-right: 10px;
}

.navbar-brand {
    padding: 5px 15px;
}
/*===============================

=================================*/
body,
.modal-window.ui-widget-content {
    background: #fff url(../img/2.jpg) repeat;
}

/*======================
Backgrounds
========================*/
/*background color for all tables*/
.bg-default {
    background-color: #efefef;
}

/*=====================================
Table styles
=======================================*/
table {
    width: 100%;
    table-layout: fixed;
}

/*Column width in percents*/
.col-5 {
    width: 5%;
}
.col-7 {
    width: 7%;
}
.col-10 {
    width: 10%;
}
.col-15 {
    width: 15%;
}
.col-20 {
    width: 20%;
}
.col-25 {
    width: 25%;
}
.col-30 {
    width: 30%;
}
.col-35 {
    width: 35%;
}
.col-40 {
    width: 40%;
}
.col-45 {
    width: 40%;
}
.col-50 {
    width: 50%;
}
.col-55 {
    width: 55%;
}
.col-60 {
    width: 60%;
}
.col-65 {
    width: 65%;
}
.col-70 {
    width: 70%;
}
.col-75 {
    width: 75%;
}
.col-80 {
    width: 80%;
}
.col-85 {
    width: 85%;
}
.col-90 {
    width: 90%;
}
.col-95 {
    width: 95%;
}
.col-100 {
    width: 100%;
}

/*======================
*cut long string on table (use on tag 'table')
========================*/
.cut-long-text td,
.cut-long-text th {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.cut-long-text tr:hover td,
.cut-long-text tr:hover th {
    white-space: normal;
    overflow: auto;
    word-wrap: break-word;
}

.no-cut-long-text td,
.no-cut-long-text th {
    white-space: normal;
    word-wrap: break-word;
}

/*==================
custom striped table
====================*/
.cust-table-striped tbody:nth-child(odd) {
    background: #d9d9d9;
}
.cust-table-striped tbody:nth-child(even) {
    background: #f4f4f4;
}

.cust-table-striped tbody:hover {
    background: #c1c1c1;
}
.cust-table-striped tbody:hover td[rowspan], tr:hover td {
    background: #c1c1c1;
}

/*===================
navbar styles
=====================*/
/*для заголовков табов*/
.nav-tabs>li.active>a,
.nav-tabs>li.active>a:focus

{
    color: #fff;
    background-color: #337ab7;
}

.nav-tabs>li.active>a:hover
{
    color: #fff;
    background-color: #286090;
}
/*=========================
style for last update time in table
===========================*/
td .lastUpdate {
    float: right;
    position: relative;
    top: -5px;
    right: -5px;

    font-size: 12px;
    background-color: #80ed80;
}
/*=========================
style for last update time in table
===========================*/
ul.filter-list {
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}

ul.scrollable-menu {
    height: auto;
    max-height: 200px;
    overflow-x: hidden;
}

.filter-list > li > a,
.filter-list > li > a:hover,
.filter-list > li > a:focus {
    text-decoration: none;
    background-color: inherit;
    color: inherit;

}

.filter-list > li > a {
    position: relative;
    display: block;
    padding: 0 0;
}
/*=====================================
Дерево
=======================================*/
#multi-tree a:active, a:focus {
    color: #666;
    background-color: #f4f4f4;
}
#multi-tree a.current {
    color: black;
    font-weight: bold;
    background-color: #f4f4f4;
}
#multi-tree .vrf-container {
    padding-bottom: 3em;
}

/* Дерево многоуровневое
-------------------------------- */
#multi-tree {
    width: 320px; /* блок под дерево */
    border: none; /* границы блока */
    border-color: silver gray gray silver;
    border-width: 2px;
    padding: 0 0 1em 0; /* нижний отступ */
    font-size: 0.9em;
}
#multi-tree span { /* обертка пункта */
    text-decoration: none;
    display: block; /* растянем до правого края блока */
    margin: 0 0 0 1.2em;
    background-color: transparent;
    border: solid silver; /* цвет линий */
    border-width: 0 0 1px 1px; /* границы: низ и лево */
}
#multi-tree span a {/* тест элемента дерева */
    display: block;
    position: relative;
    top: .95em; /* смещаем узел на середину линии */
    background-color: #fff; /* закраска в цвет фона обязательна иначе будет видно линию */
    margin: 0 0 .2em .7em; /* делаем промежуток между узлами, отодвигаем левее  */
    padding: 0 0.3em; /* небольшой отступ от линии */
}
#multi-tree h4 {/* заголовок дерева */
    font-size: 1em;
    font-weight: bold;
    margin: 0;
    padding: 0 .25em;
    border-bottom: 1px solid silver;
}
#multi-tree h4 a {
    display: block;
}
#multi-tree ul,
#multi-tree li {
    list-style-image:none;
    list-style-position:outside;
    list-style-type:none;
    margin:0;
    padding:0;
}
#multi-tree ul li {
    line-height: 1.2em;
}
#multi-tree ul li ul {
    display: none; /* узлы свернуты */
}
#multi-tree ul li ul li {
    margin: 0 0 0 1.2em;
    border-left: 1px solid silver; /* цвет вертикальной линии между узлами */
}
#multi-tree li.last {/* последний узел, соединительную линию к след. узлу убираем */
    border: none;
}
#multi-tree .marker { /* маркер раскрытия списка в закрытом состоянии */
    border-color: transparent transparent transparent gray;
    border-style: solid;
    border-width: .25em 0 .25em .5em;
    margin: .35em .25em 0 0;
    float: left;
    width: 0px;
    height: 0px;
    line-height: 0px;
}
#multi-tree .marker.open {/* маркер раскрытия списка в открытом состоянии */
    border-color: gray transparent transparent transparent;
    border-width: .5em .25em 0 .25em;
}

/*Временные стили*/

