.filter-box {
    height: 100%;
}
.filter-box span {
    vertical-align: middle;
    font-size: x-small;
}
.filter-input {
    width: 120px;
    height: 20px;
    font-size: small;
    color: #323232;
}