.ui-filter-icon-box {
    height: 100%;
}
.ui-filter-icon-box span {
    vertical-align: middle;
    font-size: x-small;
}
.ui-filter-input {
    width: 120px;
    height: 20px;
    font-size: small;
    color: #323232;
}
.ui-filter-list {
    position: relative;
}