<thead>
<tr>
    <th id={{ columns.city.th_id|trim('#') }} class="text-left">{{ columns.city.name }}</th>
    <th id={{ columns.office.th_id|trim('#') }}>{{ columns.office.name }}</th>
    <th id={{ columns.name.th_id|trim('#') }}>{{ columns.name.name }}</th>
    <th id={{ columns.platform.th_id|trim('#') }}>{{ columns.platform.name }}</th>
    <th id={{ columns.dn.th_id|trim('#') }}>{{ columns.dn.name }}</th>
    <th id={{ columns.isActive.th_id|trim('#') }}>{{ columns.isActive.name }}</th>
    <th id={{ columns.publisherName.th_id|trim('#') }}>{{ columns.publisherName.name }}</th>
    <th id={{ columns.ipAddress.th_id|trim('#') }}>{{ columns.ipAddress.name }}</th>
    <th id={{ columns.inventoryNumber.th_id|trim('#') }}>{{ columns.inventoryNumber.name }}</th>
    <th id={{ columns.serialNumber.th_id|trim('#') }}>{{ columns.serialNumber.name }}</th>
    <th id={{ columns.vlanId.th_id|trim('#') }}>{{ columns.vlanId.name }}</th>
    <th id={{ columns.switchHostname.th_id|trim('#') }}>{{ columns.switchHostname.name }}</th>
    <th id={{ columns.switchIp.th_id|trim('#') }}>{{ columns.switchIp.name }}</th>
    <th id={{ columns.switchPort.th_id|trim('#') }}>{{ columns.switchPort.name }}</th>
    <th id={{ columns.switchPlatform.th_id|trim('#') }}>{{ columns.switchPlatform.name }}</th>
    <th id={{ columns.switchInventoryNumber.th_id|trim('#') }}>{{ columns.switchInventoryNumber.name }}</th>
    <th id={{ columns.depiction.th_id|trim('#') }}>{{ columns.depiction.name }}</th>
    <th id={{ columns.alertingName.th_id|trim('#') }}>{{ columns.alertingName.name }}</th>
</tr>
</thead>
