{% extends 'Index.html' %}

{% block main %}
    <div class="row">
        <div class="col-xs-12">
            <table id="dev_tab">
                <thead>
                <tr>
                    <th></th>
                </tr>
                </thead>
            </table>
        </div>
    </div>

{% endblock %}



{% block JS %}
    <script>
        tableSettings = {
            dataUrl: "/basePhone/basePhoneTable.json",
            width: '185',
            header: {
                tableClasses: "bg-primary table-bordered",
                columns: {
                    city: {id: 'city', name: 'Город', width: 5, sortable: true, filterable: true},
                    office: {id: 'office', name: 'Офис', width: 8, sortable: true, filterable: true},
                    name: {id: 'name', name: 'Name', width: 6, sortable: false, filterable: true},
                    platform: {id: 'platform', name: 'Модель телефона', width: 5, sortable: false, filterable: true},
                    dn: {id: 'dn', name: 'DN', width: 4, sortable: false, filterable: true},
                    isActive: {id: 'is-active', name: 'Активный', width: 3, sortable: false, filterable: true},
                    publisherName: {id: 'publisher-name', name: 'Publisher', width: 6, sortable: false, filterable: true},
                    ipAddress: {id: 'ip-address', name: 'IP тел-на', width: 5, sortable: false, filterable: true},
                    inventoryNumber: {id: 'inventory-number', name: 'Инв. тел-на', width: 3, sortable: false, filterable: true},
                    serialNumber: {id: 'serial-number', name: 'SN', width: 6, sortable: false, filterable: true},
                    vlanId: {id: 'vlan-id', name: 'VLAN ID', width: 2, sortable: false, filterable: true},
                    switchHostname: {id: 'switch-hostname', name: 'Switch Hostname', width: 8, sortable: true, filterable: true},
                    switchIp: {id: 'switch-ip', name: 'Switch Ip', width: 5, sortable: false, filterable: true},
                    switchPort: {id: 'switch-port', name: 'Switch Port', width: 6, sortable: false, filterable: true},
                    switchPlatform: {id: 'switch-platform', name: 'Switch', width: 6, sortable: false, filterable: true},
                    switchInventoryNumber: {id: 'switch-inventory-number', name: 'Switch InventoryNumber', width: 3, sortable: false, filterable: true},
                    dnPrefix: {id: 'dn-prefix', name: 'Prefix', width: 2, sortable: false, filterable: true},
                    depiction: {id: 'depiction', name: 'Description', width: 9, sortable: false, filterable: true},
                    alertingName: {id: 'alerting-name', name: 'Alerting name', width: 8, sortable: false, filterable: true},
                }
            },
            pager: {
                rowsOnPage: 50,
                rowList: [10,20,50,100,200,"все"]
            },
            styles: {
                header: {
                    table: {
                        classes: ["bg-primary", "table-bordered"],
                        css: {}
                    }
                },
                body: {
                    table: {
                        classes: ["table", "cell-bordered", "cust-table-striped"],
                        css: {}
                    }
                }
            }
        };

        jQuery(function ($) {
            var devTable = $("#dev_tab");
            devTable.jqTable(tableSettings).jqTable('updateBodyContent', {}, window.location.href);
            var toggleInnerTable = function (e) {
                if ($(e.target).hasClass('toggler') || $(e.target).parents('.toggler').hasClass('toggler')) {
                    $(e.target).closest("table").find("tbody tr td").slideToggle("fast");
                    $(e.target).closest("table").find(".js-caret").toggleClass("caret-down");
                }
            };

            devTable.jqTable('addBodyEventHandler', 'click', "", toggleInnerTable);
            devTable.jqTable('addHeaderEventHandler', 'click', "", function (e) {
                if ($(e.target).parent().hasClass('finder-icon') || $(e.target).hasClass('finder-icon')) {
                    var ws = e.data;
                    console.log('finder click');
                    var $finder = $('<input/>', {type: 'text', class: 'finder-input'});
                    ws.obj.$finder.blur(function (event) {
                        console.log('focus out');
                        ws.obj.$finder.remove();
                    });
                    ws.obj.$finder.css({position: 'absolute'});
                    ws.obj.$finder.appendTo('.finder-icon').position({
                        my: "right top",
                        at: "center bottom+5",
                        of: event.target
                    }).focus()
                }
            })

            const highlightRow = function (e) {
                const ws = e.data;
                ws.obj.$body.find(".js-table-row.ui-state-highlight").removeClass("ui-state-highlight");
                $(e.target).closest(".js-table-row").addClass("ui-state-highlight");

                console.log('click on row')
            };
            devTable.jqTable('addBodyEventHandler', 'click', "", highlightRow);

        });
    </script>
    <script>
        var APP = APP || {};
        if ("{{exportUrl}}") {
            $("#excelExport").removeClass("hidden");
            APP.setLink("#excelExport", "{{ exportUrl }}");
        }
        if ("{{eraseLogUrl}}") {
        $("#eraseLog").removeClass("hidden");
        APP.setLink("#eraseLog", "{{ eraseLogUrl }}");
        }

    </script>
{% endblock %}