<div id="add-appliance" role="dialog" title="Новое устройство">
    <div class="container-fluid">
        <div class="row">
            <form class="form-horizontal" action="/admin/addAppliance" method="post" role="form">
                {#office#}
                <div class="form-group">
                    <label for="id-office" class="col-sm-3 control-label">Офис*</label>
                    <div class="col-sm-9"><select name="data[officeId]" id="id-office" class="form-control">
                            <option value="" selected="selected">---------</option>
                            {% for office in offices %}
                                <option value="{{ office.getPK }}">{{ office.title }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                {#Vendor#}
                <div class="form-group">
                    <label for="id-vendor" class="col-sm-3 control-label">Производитель</label>
                    <div class="col-sm-9"><select name="data[vendorId]" id="id-vendor" class="form-control">
                            {% for vendor in vendors %}
                                <option value="{{ vendor.getPK }}" {% if vendor.title == '' %} selected {% endif %}>{{ vendor.title }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                {#type#}
                <div class="form-group">
                    <label for="id-appliance-type" class="col-sm-3 control-label">Тип (роль)*</label>
                    <div class="col-sm-5">
                        <select name="data[applianceTypeId]" id="id-appliance-type" class="form-control">
                            <option value="" selected="selected">---------</option>
                            {% for applianceType in applianceTypes %}
                                <option value="{{ applianceType.getPK }}">{{ applianceType }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                {#platform#}
                <div class="form-group">
                    <label for="id-platform" class="col-sm-3 control-label">Платформа</label>
                    <div class="col-sm-5">
                            <select name="data[platformId]" id="id-platform" class="form-control">
                                {% for platform in platforms %}
                                    <option value="{{ platform.getPK }}" {% if platform.title == '' %} selected {% endif %}>{{ platform.title }}</option>
                                {% endfor %}
                            </select>
                    </div>
                    <div class="col-sm-4 input-group">
                        <span class="input-group-addon" id="hw-sn">S/N</span>
                        <input type="text" class="form-control" name="data[platformSn]" placeholder="Серийный номер" aria-describedby="hw-sn">
                    </div>
                </div>
                {#soft#}
                <div class="form-group">
                    <label for="id-software" class="col-sm-3 control-label">ПО</label>
                    <div class="col-sm-5">
                        <select name="data[softwareId]" id="id-software" class="form-control">
                            {% for softwareItem in software %}
                                <option value="{{ softwareItem.getPK }}" {% if softwareItem.title == '' %} selected {% endif %}>{{ softwareItem.title }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="col-sm-4 input-group">
                        <span class="input-group-addon" id="sw-ver">ver.</span>
                        <input type="text" class="form-control" name="data[softwareVersion]" placeholder="Версия ПО" aria-describedby="sw-ver">
                    </div>
                </div>
                {#hostname, management IP#}
                <div class="form-group">
                    <label for="id-software" class="col-sm-3 control-label"></label>
                    <div class="col-sm-5">
                        <div class="input-group">
                            <span class="input-group-addon" id="hostname">hostname</span>
                            <input type="text" class="form-control" name="data[hostname]" placeholder="hostname" aria-describedby="hostname">
                        </div>
                    </div>
                    <div class="col-sm-4 input-group">
                        <span class="input-group-addon" id="id-mngmnt">management IP</span>
                        <input type="text" class="form-control" name="data[managementIp]" placeholder="management IP" aria-describedby="management IP">
                    </div>
                </div>
                {#comment for appliance#}
                <div class="form-group">
                    <label id="lb-comment-appl" for="id-comment-appl" class="col-sm-3 control-label">Комментарий</label>
                    <div class="col-sm-9">
                        <textarea id="id-comment-appl" class="form-control" style="max-width: 100%" name="data[comment]"  rows="1" aria-describedby="lb-comment-appl" placeholder="комментарий к устройству">{{ current.comment}}</textarea>
                    </div>
                </div>
                {#checkbox inUse#}
                <div class="form-group">
                    <div class="col-sm-9 col-sm-offset-3">
                        <div class="custom-box checkbox-container">
                            <input type="checkbox" id="item-id-new-appl" name="data[applianceInUse]" value="1" checked>
                            <label class="icon-check-off" for="item-id-new-appl">Устройство используется</label>
                        </div>
                    </div>
                </div>
                <!--add module items-->
                <div class="panel panel-default">
                    <div class="panel-heading clearfix">
                        <div class="col-sm-6">
                            <label for="">Модули</label>
                        </div>
                        <div class="col-sm-1 col-sm-offset-4">
                            <button class="btn btn-xs btn-success" type="button" data-action="add-module">
                                добавить
                            </button>
                        </div>
                    </div>
                    <div class="panel-body js-add-module">
                    {#===========Template for new modules===========#}
                        <template class="js-add-module">
                            <div class="form-group">
                                {#module#}
                                <div class="col-xs-4">
                                    <select name="data[module][id][]" id="id-module" class="form-control">
                                        <option value="" selected="selected">---------</option>
                                        {% for module in modules %}
                                            <option value="{{ module.getPK }}">{{ module.title }} ({{ module.vendor.title }})</option>
                                        {% endfor %}
                                    </select>
                                </div>
                                {#serial number#}
                                <div class="col-xs-3">
                                    <input type="text" class="form-control" name="data[module][sn][]" placeholder="Серийный номер">
                                </div>
                                {#comment for module#}
                                <div class="col-xs-3">
                                    <textarea class="form-control" style="max-width: 100%" name="data[module][comment][]"  rows="1" placeholder="комментарий к модулю">{{ current.comment}}</textarea>
                                    {#<input type="text" class="form-control" name="data[module][comment][]" placeholder="Комментарий">#}
                                </div>
                                {#checkbox inUse#}
                                <div class="col-xs-2 custom-box checkbox-container">
                                    <input type="checkbox" id="item-id-{{ currentModuleItem.getPK }}" name="data[module][inUse][]" value="checked" checked>
                                    <label class="icon-check-off" for="item-id-{{ currentModuleItem.getPK }}">In use</label>
                                </div>
                            </div>
                        </template>
                    </div>
                </div>

                <div class="col-sm-offset-3 col-sm-8">
                    <button class="btn btn-success" type="submit">Создать</button>
                    <button class="btn btn-danger" type="button" role="button" data-action="close">Отмена</button>
                </div>
            </form>
        </div>
    </div>
    <script>
        var APP = APP || {};
        APP.popups = APP.popups || [];
        APP.popups.push({
            path: "{{ path }}",
            popupSelector: "#add-appliance",
            width: "900"
        });
        $("button[data-action='add-module']").on(
                "click",
                function (event) {
                    event.preventDefault();
                    //console.log(APP);
                    $(APP.popups[APP.currentPopup.index].popupSelector + " .panel-body.js-add-module").prepend($("template.js-add-module").clone().html());
                    APP.ctrlCheckbox();
                }
        )
    </script>
</div>