<div id="add-appliance-type" role="dialog" title="Новый тип(роль) оборудования">
    <form action="/admin/addApplianceType" method="post" role="form">
        <div class="form-group">
            <label for="id-appliance-type"></label>
            <input type="text" class="form-control" name="applianceType[type]" id="id-appliance-type" placeholder="Новый тип(роль) оборудования">
            <label for="id-appliance-sort-order"></label>
            <input type="number" class="form-control" name="applianceType[sortOrder]" id="id-appliance-sort-order" value="50" title="сортировка от меньшего к большему">
        </div>

        <button class="btn btn-success" type="submit">Создать</button>
        <button class="btn btn-danger" type="button" role="button" data-action="close">Отмена</button>
    </form>
    <script>
        var APP = APP || {};
        APP.popups = APP.popups || [];
        APP.popups.push({
            path: "{{ path }}",
            popupSelector: "#add-appliance-type",
            width: "auto"
        });
    </script>
</div>
