<div id="add-port" role="dialog" title="Добавление порта передачи данных">
    <div class="container-fluid">
        <div class="row">
            <form class="form-horizontal" action="/admin/addDataPort" method="post" role="form">
                {#hidden field with current appliance ID#}
                <input type="hidden" class="form-control" name="data[id]" title="current appliance id" value="{{ current.getPK }}">
                {#Type of port#}
                <div class="form-group">
                    <label for="id-data-port-type" class="col-sm-3 control-label">Тип порта</label>
                    <div class="col-sm-9">
                        <select name="data[portTypeId]" id="id-data-port-type" class="form-control">
                            {% for portType in portTypes %}
                                <option value="{{ portType.getPK }}">{{ portType.type }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                {#IP address#}
                <div class="form-group">
                    <div class="col-sm-9 col-sm-offset-3">
                        <div class="input-group">
                            <span class="input-group-addon" id="ip-addr">IP</span>
                            <input type="text" class="form-control" name="data[ip]" placeholder="192.168.1.1/24"
                                   aria-describedby="ip-addr">
                        </div>
                    </div>
                </div>
                {#VRF#}
                <div class="form-group">
                    <label for="id-vrf" class="col-sm-3 control-label">VRF</label>
                    <div class="col-sm-9">
                        <select name="data[vrfId]" id="id-vrf" class="form-control">
                            {% for vrf in vrfs %}
                                <option value="{{ vrf.getPK }}" {% if vrf.getPk == gvrf.getPk %} selected {% endif %}>
                                    {{ vrf.name }}{% if vrf.getPk != gvrf.getPk %} ({{ vrf.rd }}){% endif %}
                                </option>
                            {% endfor %}
                        </select>
                    </div>
                </div>

                {#MAC address#}
                <div class="form-group">
                    <div class="col-sm-9 col-sm-offset-3">
                        <div class="input-group">
                            <span class="input-group-addon" id="mac-addr">MAC</span>
                            <input type="text" class="form-control" name="data[mac]" placeholder="00-0C-46-CD-ED-A8"
                                   aria-describedby="mac-addr">
                        </div>
                    </div>
                </div>
                {#portName#}
                <div class="form-group">
                    <label for="id-port-name" class="col-sm-3 control-label">Имя порта</label>
                    <div class="col-sm-9">
                        <input id="id-port-name" type="text" class="form-control" name="data[portName]" placeholder="Имя порта (fastEthernet 0/1 и т.д.)">
                    </div>
                </div>

                {#comment#}
                <div class="form-group">
                    <label for="id-comment" class="col-sm-3 control-label">Комментарий</label>
                    <div class="col-sm-9">
                        <input id="id-comment" type="text" class="form-control" name="data[comment]" placeholder="Комментарий к порту">
                    </div>
                </div>


                <div class="col-sm-offset-3 col-sm-8">
                    <button class="btn btn-success" type="submit">Создать</button>
                    <button class="btn btn-danger" type="button" role="button" data-action="close">Отмена</button>
                </div>
            </form>
        </div>
    </div>
    <script>
        var APP = APP || {};
        APP.popups = APP.popups || [];
        APP.popups.push({
            path: "{{ path }}",
            popupSelector: "#add-port",
            width: "500"
        });
    </script>
</div>