<div id="add-module" role="dialog" title="Новый модуль">
    <form action="/admin/addModule" method="post" role="form">
        <div class="form-group">
            <label for="id-vendor">Производитель</label>
            <select name="module[vendorId]" id="id-vendor" class="form-control">
                <option value="" selected="selected">---------</option>
                {% for vendor in vendors %}
                    <option value="{{ vendor.getPK }}">{{ vendor.title }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="form-group">
            <label for="id-module">Название модуля</label>
            <input type="text" class="form-control" name="module[title]" id="id-module" placeholder="Название нового модуля">
        </div>

        <button class="btn btn-success" type="submit">Создать</button>
        <button class="btn btn-danger" type="button" role="button" data-action="close">Отмена</button>
    </form>
    <script>
        var APP = APP || {};
        APP.popups = APP.popups || [];
        APP.popups.push({
            path: "{{ path }}",
            popupSelector: "#add-module",
            width: "auto"
        });
    </script>
</div>
