<div id="add-office" role="dialog" title="Новый офис">
    <div class="container-fluid">
        <div class="row">
            <form class="form-horizontal" action="/admin/addOffice" method="post" role="form">
                <!-- выпадающий список регионов-->
                <div class="form-group">
                    <label for="id-region" class="col-sm-4 control-label">Регион</label>
                    <div class="col-sm-8"><select name="data[regionId]" id="id-region" class="form-control">
                            {% for region in regions %}
                                <option value="{{ region.getPK }}">{{ region.title }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>

                <!-- выпадающий список городов-->
                <div class="form-group">
                    <label for="id-city" class="col-sm-4 control-label">Город</label>
                    <div class="col-sm-8">
                        <select name="data[cityId]" id="id-city" class="form-control">
                            {% for city in cities %}
                                <option value="{{ city.getPK }}">{{ city.title }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>

                <!-- выпадающий список статусов-->
                <div class="form-group">
                    <label for="id-status" class="col-sm-4 control-label">Статус офиса</label>
                    <div class="col-sm-8">
                        <select name="data[statusId]" id="id-status" class="form-control">
                            {% for status in statuses %}
                                <option value="{{ status.getPK }}">{{ status.title }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>

                <!-- поле ввода Lotus ID офиса -->
                <div class="form-group">
                    <label for="id-office" class="col-sm-4 control-label">Lotus ID</label>
                    <div class="col-sm-8">
                        <input type="number" class="form-control" name="data[lotusId]" id="id-office"
                               placeholder="Lotus ID">
                    </div>
                </div>

                <!-- поле ввода названия офиса -->
                <div class="form-group">
                    <label for="id-office" class="col-sm-4 control-label">Название офиса</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" name="data[title]" id="id-office"
                               placeholder="Название офиса">
                    </div>
                </div>

                <!-- поле ввода адреса-->
                <div class="form-group">
                    <label for="id-address" class="col-sm-4 control-label">Адрес офиса</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" name="data[address]" id="id-address"
                               placeholder="Адрес офиса">
                    </div>
                </div>

                <div class="form-group">
                    <label for="id-offices" class="col-sm-4 control-label">Пакетный ввод</label>
                    <div class="col-sm-offset-4 col-sm-8">
                        <textarea name="data[many]"
                                  id="id-offices"
                                  cols="40" rows="4"
                                  placeholder="Регион, город, адрес, офис"></textarea>
                    </div>
                </div>

                <!--Checkboxes-->
                <div class="form-group">
                    <div class="checkbox col-sm-offset-4 col-sm-8">
                        <label>
                            <input name="data[addNewRegion]" type="checkbox">
                            <span>Создавать отсутствующие регионы</span>
                        </label>
                    </div>
                </div>
                <div class="form-group">
                    <div class="checkbox col-sm-offset-4 col-sm-8">
                        <label>
                            <input name="data[addNewCity]" type="checkbox">
                            <span>Создавать отсутствующие города</span>
                        </label>
                    </div>
                </div>
                <div class="form-group">
                    <div class="checkbox col-sm-offset-4 col-sm-8">
                        <label>
                            <input name="data[addNewStatus]" type="checkbox">
                            <span>Создавать отсутствующие статусы</span>
                        </label>
                    </div>
                </div>


                <div class="col-sm-offset-3 col-sm-8">
                    <button class="btn btn-success" type="submit">Создать</button>
                    <button class="btn btn-danger" type="button" role="button" data-action="close">Отмена</button>
                </div>
            </form>
        </div>
    </div>
</div>
<script>
    var APP = APP || {};
    APP.settings = APP.settings || {};
    APP.settings.modalWindowSelector = "#add-office";
</script>

