<div id="add-platform" role="dialog" title="Новая платформа">
    <form action="/admin/addPlatform" method="post" role="form">
        <div class="form-group">
            <label for="id-vendor">Vendor</label>
            <select name="platform[vendorId]" id="id-vendor" class="form-control">
                <option value="" selected="selected">---------</option>
                {% for vendor in vendors %}
                    <option value="{{ vendor.getPK }}">{{ vendor.title }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="form-group">
            <label for="id-platform">HW platform</label>
            <input type="text" class="form-control" name="platform[title]" id="id-platform"
                   placeholder="Новая платформа">
        </div>

        <button class="btn btn-success" type="submit">Создать</button>
        <button class="btn btn-danger" type="button" role="button" data-action="close">Отмена</button>
    </form>
    <script>
        var APP = APP || {};
        APP.popups = APP.popups || [];
        APP.popups.push({
            path: "{{ path }}",
            popupSelector: "#add-platform",
            width: "auto"
        });
    </script>
</div>
