<div id="add-status" role="dialog" title="Новый статус">
    <form action="/admin/addStatus" method="post" role="form">
        <div class="form-group">
            <label for="id-status"></label>
            <input type="text" class="form-control" name="status[title]" id="id-status[one]" placeholder="Новый статус">
        </div>

        <button class="btn btn-success" type="submit">Создать</button>
        <button class="btn btn-danger" type="button" role="button" data-action="close">
            Отмена
        </button>

    </form>
    <script>
        var APP = APP || {};
        APP.popups = APP.popups || [];
        APP.popups.push({
            path: "{{ path }}",
            popupSelector: "#add-status",
            width: "auto"
        });
    </script>
</div>
