<div id="edit-appliance" role="dialog" title="Редактирование устройства">
    <div class="container-fluid">
        <div class="row">
            <div class="panel-body">

                <form class="form-horizontal" action="/admin/editAppliance" method="post" role="form">

                    {#hidden field with current appliance ID#}
                    <input type="hidden" class="form-control" name="data[currentId]" title="current appliance id" value="{{ current.getPK }}">
                    <div class="form-group">
                        <label for="id-office" class="col-sm-2 control-label">Офис</label>
                        <div class="col-sm-9"><select name="data[officeId]" id="id-office" class="form-control">
                                {% for office in offices %}
                                    <option value="{{ office.getPK }}"{% if office.getPK == current.location.getPk %} selected {% endif %}>{{ office.title }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="id-vendor" class="col-sm-2 control-label">Производитель</label>
                        <div class="col-sm-9"><select name="data[vendorId]" id="id-vendor" class="form-control">
                                {% for vendor in vendors %}
                                    <option value="{{ vendor.getPK }}"{% if vendor.getPK == current.platform.platform.vendor.getPk %} selected {% endif %}>{{ vendor.title }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="id-appliance-type" class="col-sm-2 control-label">Тип (роль)</label>
                        <div class="col-sm-5">
                            <select name="data[applianceTypeId]" id="id-appliance-type" class="form-control">
                                {% for applianceType in applianceTypes %}
                                    <option value="{{ applianceType.getPK }}"{% if applianceType.getPK == current.type.getPk %} selected {% endif %}>{{ applianceType }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="id-platform" class="col-sm-2 control-label">Платформа</label>
                        <div class="col-sm-5">
                                <select name="data[platformId]" id="id-platform" class="form-control">
                                    {% for platform in platforms %}
                                        <option value="{{ platform.getPK }}"{% if platform.getPK == current.platform.platform.getPk %} selected {% endif %}>{{ platform.title }}</option>
                                    {% endfor %}
                                </select>
                        </div>
                        <div class="col-sm-4 input-group">
                            <span class="input-group-addon" id="hw-sn">S/N</span>
                            <input type="text" class="form-control" name="data[platformSn]" value="{{ current.platform.serialNumber }}" aria-describedby="hw-sn">
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="id-software" class="col-sm-2 control-label">ПО</label>
                        <div class="col-sm-5">
                            <select name="data[softwareId]" id="id-software" class="form-control">
                                {% for softwareItem in software %}
                                    <option value="{{ softwareItem.getPK }}"{% if softwareItem.getPK == current.software.software.getPk %} selected {% endif %}>{{ softwareItem.title }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="col-sm-4 input-group">
                            <span class="input-group-addon" id="sw-ver">ver.</span>
                            <input type="text" class="form-control" name="data[softwareVersion]" value="{{ current.software.version }}" aria-describedby="sw-ver">
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-sm-5 col-sm-offset-2">
                            <div class="input-group">
                                <span class="input-group-addon" id="id-hostname">hostname</span>
                                <input type="text" class="form-control" name="data[hostname]" value="{{ current.details.hostname }}"
                                       aria-describedby="hostname">
                            </div>
                        </div>
                        <div class="col-sm-4 input-group">
                            <span class="input-group-addon" id="id-mngmnt">management IP</span>
                            {% if current.getManagementIpPort != false %}
                                <input type="hidden" name="data[managementIpId]" value="{{ current.getManagementIpPort.getPk }}">
                                <input type="text" class="form-control" name="data[managementIp]" value="{{ current.getManagementIp }}" title="management IP">
                            {% else %}
                                <input type="text" class="form-control" name="data[managementIp]" value="" title="management IP">
                            {% endif %}
                        </div>
                    </div>

                    <ul class="nav nav-tabs" role="tablist">
                        <li class="active" aria-controls="tabs-1" role="tab">
                            <a href="#tabs-1">
                                Modules
                                {% if user.level > 2 %}
                                <button class="btn btn-xs btn-success" type="button" data-action="add-module">
                                    <span class="glyphicon glyphicon-plus" aria-hidden="true" title="Добавить модуль"></span>
                                </button>
                                {% endif %}
                            </a>
                        </li>
                        <li aria-controls="tabs-2" role="tab">
                            <a href="#tabs-2">
                                Data ports
                                {% if user.level > 2 %}
                                <button class="btn btn-xs btn-success" type="button" data-action="add-dataport">
                                    <span class="glyphicon glyphicon-plus" aria-hidden="true" title="Добавить порт"></span>
                                </button>
                                {% endif %}
                            </a>
                        </li>
                    </ul>


                    <div class="tab-content cust-tab-content">

                        <div class="tab-pane active" role="tabpanel" id="tabs-1">
                            {% for currentModuleItem in current.modules %}
                            <div class="form-group">
                                <div class="col-xs-4">
                                    <input type="hidden" class="form-control" name="data[moduleItem][moduleId][]"  value="{{ currentModuleItem.module.getPK }}">
                                    <input id="id-module" type="text" class="form-control" name="data[moduleItem][moduleTitle][]" title="Модуль" value="{{ currentModuleItem.module.title }} ({{ currentModuleItem.module.vendor.title }})" readonly>
                                </div>
                                <div class="col-xs-3">
                                    <input type="hidden" class="form-control" name="data[moduleItem][id][]" title="current module id" value="{{ currentModuleItem.getPK }}">
                                    <input type="text" class="form-control {% if (currentModuleItem.notFound) %}item-not-found{% elseif (currentModuleItem.inUse is defined and false == currentModuleItem.inUse) %}item-not-use{% endif %}" name="data[moduleItem][sn][]" title="Серийный номер" value="{{ currentModuleItem.serialNumber }}" placeholder="Серийный номер" readonly>
                                </div>
                                <div class="col-xs-3">
                                    <input type="text" class="form-control" name="data[moduleItem][comment][]" title="Комментарий" value="{{ currentModuleItem.comment }}" placeholder="Комментарий">
                                </div>
                                <div class="col-xs-2 custom-box checkbox-container">
                                    {% if (false == currentModuleItem.notFound) %}
                                    {% if (false == currentModuleItem.inUse) %}
                                    <input type="hidden" name="data[moduleItem][inUse][]" value="0">
                                    {% endif %}
                                    <input type="checkbox" id="item-id-{{ currentModuleItem.getPK }}" name="data[moduleItem][inUse][]" value="1" {% if (currentModuleItem.inUse) %}checked{% endif %}>
                                    <label class="icon-check-off" for="item-id-{{ currentModuleItem.getPK }}">In use</label>
                                    {% endif %}
                                </div>
                            </div>
                            {% endfor %}
                            {#===========Template for new module=====================#}
                            <template class="js-add-module">
                                <div class="form-group">
                                    <div class="col-xs-4">
                                        <select id="id-module" class="form-control" name="data[newModule][id][]" title="Модуль">
                                            <option value="" selected="selected">---------</option>
                                            {% for module in modules %}
                                            <option value="{{ module.getPK }}">{{ module.title }}  ({{ module.vendor.title }})</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                    <div class="col-xs-3">
                                        <input type="text" class="form-control" name="data[newModule][sn][]" placeholder="Серийный номер">
                                    </div>
                                    <div class="col-xs-3">
                                        <input type="text" class="form-control" name="data[newModule][comment][]" placeholder="Комментарий">
                                    </div>
                                    <div class="col-xs-2 custom-box checkbox-container">
                                        <input type="checkbox" id="item-id-{{ currentModuleItem.getPK }}" name="data[newModule][inUse][]" value="checked" checked>
                                        <label class="icon-check-off" for="item-id-{{ currentModuleItem.getPK }}">In use</label>
                                    </div>
                                </div>
                            </template>
                        </div>

                        <div class="tab-pane" role="tabpanel" id="tabs-2">
                            {% for dataPort in dataPorts %}
                            <div class="form-group">
                                <div class="col-xs-2">
                                    <select name="data[dataportItem][portTypeId][]" id="id-data-port-type" class="form-control" title="Тип порта">
                                        {% for portType in portTypes %}
                                        <option value="{{ portType.getPK }}" {% if portType.getPK == dataPort.portType.getPK %}selected{% endif %}>{{ portType.type }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                                <div class="col-xs-2">
                                    <input id="id-port-name" type="text" class="form-control" name="data[dataportItem][portName][]" value="{{ dataPort.details.portName }}" placeholder="Name" title="Имя порта">
                                </div>

                                <div class="col-xs-1">
                                    <input type="hidden" class="form-control" name="data[dataportItem][vrfId][]"  value="{{ dataPort.network.vrf.getPK }}">
                                    <input id="id-vrf" type="text" class="form-control" name="data[dataportItem][vrfName][]" title="VRF" value="{{ dataPort.network.vrf.name }}" readonly>
                                </div>

                                <div class="col-xs-2">
                                    <input type="hidden" class="form-control" name="data[dataportItem][portId][]" title="current port id" value="{{ dataPort.getPK }}">
                                    <input type="text" class="form-control" name="data[dataportItem][ip][]" value="{{ dataPort.cidrIpAddress }}" aria-describedby="ip-addr" placeholder="IP адрес" readonly title="IP адрес">
                                </div>
                                <div class="col-xs-2">
                                    <input type="text" class="form-control" name="data[dataportItem][mac][]" value="{{ dataPort.formatMacAddress }}" aria-describedby="mac-addr" placeholder="MAC адрес" title="MAC адрес">
                                </div>
                                <div class="col-xs-2">
                                    <input id="id-comment" type="text" class="form-control" name="data[dataportItem][comment][]" value="{{ dataPort.comment }}" placeholder="Комментарий" title="Комментарий">
                                </div>
                                <div class="col-xs-1 custom-box checkbox-container" >
                                    {% if (false == dataPort.isManagement) %}
                                    <input type="hidden" name="data[dataportItem][isManagement][]" value="0">
                                    {% endif %}
                                    <input type="checkbox" id="item-id-{{ dataPort.getPK }}" name="data[dataportItem][isManagement][]" value="1" {% if (dataPort.isManagement) %}checked{% endif %}>
                                    <label class="icon-check-off" for="item-id-{{ dataPort.getPK }}" title="Management IP">Mng</label>
                                </div>
                            </div>
                            {% endfor %}
                            {#===========Template for new data port=====================#}
                            <template class="js-add-dataport">
                                <div class="form-group">
                                    <div class="col-xs-2">
                                        <select name="data[newDataport][portTypeId][]" id="id-data-port-type" class="form-control" title="Тип порта">
                                            <option value="" selected="selected">---------</option>
                                            {% for portType in portTypes %}
                                            <option value="{{ portType.getPK }}">{{ portType.type }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                    <div class="col-xs-2">
                                        <input id="id-port-name" type="text" class="form-control" name="data[newDataport][portName][]" placeholder="Name" title="Имя порта">
                                    </div>
                                    <div class="col-xs-1">
                                        <select name="data[newDataport][vrfId][]" id="id-vrf" class="form-control" title="VRF">
                                            <option value="" selected="selected">---------</option>
                                            {% for vrf in vrfs %}
                                            <option value="{{ vrf.getPK }}" {% if dataPort.network.vrf.getPk == vrf.getPk %} selected {% endif %}>
                                                {{ vrf.name }}{% if vrf.getPk != gvrf.getPk %} ({{ vrf.rd }}){% endif %}
                                            </option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                    <div class="col-xs-2">
                                        <input type="hidden" class="form-control" name="data[newDataport][portId][]">
                                        <input type="text" class="form-control" name="data[newDataport][ip][]" aria-describedby="ip-addr" placeholder="IP адрес" title="IP адрес">
                                    </div>
                                    <div class="col-xs-2">
                                        <input type="text" class="form-control" name="data[newDataport][mac][]" aria-describedby="mac-addr" placeholder="MAC адрес" title="MAC адрес">
                                    </div>
                                    <div class="col-xs-2">
                                        <input id="id-comment" type="text" class="form-control" name="data[newDataport][comment][]" placeholder="Комментарий" title="Комментарий">
                                    </div>


                                    <div class="col-xs-1 custom-box checkbox-container" >
                                        <input type="checkbox" id="item-id-isManagement" name="data[newDataport][isManagement][]" value="1">
                                        <label class="icon-check-off" for="item-id-isManagement" title="Management IP">Mng</label>
                                    </div>


                                </div>
                            </template>
                        </div>
                    </div>

                    <div class="col-sm-offset-3 col-sm-8">
                        <button class="btn btn-success" type="submit">Сохранить</button>
                        <button class="btn btn-danger" type="button" role="button" data-action="close">Отмена</button>
                    </div>

                </form>
            </div>

        </div>
    </div>
</div>
    <script>
        var APP = APP || {};
        APP.ctrlCheckbox();
        APP.popups = APP.popups || [];
        APP.popups.push({
            path: "{{ path }}",
            popupSelector: "#edit-appliance",
            width: "95%"
        });
        $("button[data-action='add-module']").on(
                "click",
                function (event) {
                    event.preventDefault();
                    //console.log(APP);
                    $(APP.popups[APP.currentPopup.index].popupSelector + " #tabs-1").prepend($("template.js-add-module").clone().html());
                    APP.ctrlCheckbox();
                }
        );

        $("button[data-action='add-dataport']").on(
            "click",
            function (event) {
                event.preventDefault();
                //console.log(APP);
                $(APP.popups[APP.currentPopup.index].popupSelector + " #tabs-2").prepend($("template.js-add-dataport").clone().html());
                APP.ctrlCheckbox();
            }
        );
        APP.settings = APP.settings || {};
        APP.settings.tablist = $('[role=tablist]');
        APP.settings.panels = $('[role=tabpanel]');
        APP.settings.activeTab = 'tabs-1';
        APP.settings.tablist.on(
            "click",
            "[role=tab]",
            function (event) {
                event.preventDefault();
                //переключение табов
                console.log($(this).attr("aria-controls"));
                APP.settings.tablist.children('[role=tab]').removeClass("active");
                APP.settings.activeTab = $(this).attr("aria-controls");
                $(this).addClass("active");
                //переключение панелей
                APP.settings.panels.removeClass("active");
                APP.settings.panels.filter("#" + APP.settings.activeTab).addClass("active");
            }
        )


        //        $(document).ready(function() {
//
//            $("#tabs").tabs();
//
//        });
    </script>
</div>