<div id="edit-appliance-type" role="dialog" title="Редактирование типа(роли)">
  <form action="/admin/editApplianceType" method="post" role="form">
    <div class="form-group">
      <label for="id-appliance-type"></label>
      <input type="hidden" class="form-control" name="applianceType[id]" value="{{ applianceType.getPk }}">
      <input type="text" class="form-control" name="applianceType[type]" id="id-appliance-type" value="{{ applianceType }}">
    </div>

    <button class="btn btn-success" type="submit">Сохранить</button>
    <button class="btn btn-danger" type="button" role="button" data-action="close">Отмена</button>
  </form>
</div>
<script>
  var APP = APP || {};
  APP.settings = APP.settings || {};
  APP.settings.modalWindowSelector = "#edit-appliance-type";
  APP.settings.modalWidth = 300;
</script>