<div id="edit-platform" role="dialog" title="Редактирование платформы">
    <form action="/admin/editPlatform" method="post" role="form">
        <div class="form-group">
            <label for="id-vendor">Vendor</label>
            <select name="platform[vendorId]" id="id-vendor" class="form-control">
                {% for vendor in vendors %}
                    <option value="{{ vendor.getPK }}" {% if vendor.getPK == platform.vendor.getPk %} selected {% endif %}>{{ vendor.title }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="form-group">
            <label for="id-platform">Platform</label>
            <input type="hidden" class="form-control" name="platform[id]" value="{{ platform.getPk }}">
            <input type="text" class="form-control" name="platform[title]" id="id-platform"
                   value="{{ platform.title }}">
        </div>
        <div class="form-group">
            <div class="custom-box checkbox-container">
                {% if (false == platform.isHW) %}
                    <input type="hidden" name="platform[isHW]" value="0">
                {% endif %}

                <input id="id-isHW" type="checkbox" name="platform[isHW]" value="1" {% if (platform.isHW) %}checked {% endif %}>
                <label class="icon-check-off" for="id-isHW">is hardware</label>
            </div>
        </div>

        <button class="btn btn-success" type="submit">Сохранить</button>
        <button class="btn btn-danger" type="button" role="button" data-action="close">Отмена</button>
    </form>
    <script>
        var APP = APP || {};
        APP.popups = APP.popups || [];
        APP.popups.push({
            path: "{{ path }}",
            popupSelector: "#edit-platform",
            width: "auto"
        });
    </script>
</div>

