<div id="add-office" role="dialog" title="Новый офис">
    <div class="container-fluid">
        <div class="row">
            <form class="form-horizontal" action="/admin/addOffice" method="post" role="form">
                <!-- выпадающий список регионов-->
                <div class="form-group">
                    <label for="id-region" class="col-sm-4 control-label">Регион</label>
                    <div class="col-sm-8"><select name="data[regId]" id="id-region" class="form-control">
                            {% for region in regions %}
                                <option value="{{ region.getPK }}" {% if region.getPK == office.address.city.region.getPk %} selected {% endif %}>{{ region.title }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>

                <!-- выпадающий список городов-->
                <div class="form-group">
                    <label for="id-city" class="col-sm-4 control-label">Город</label>
                    <div class="col-sm-8">
                        <select name="data[cityId]" id="id-city" class="form-control">
                            {% for city in cities %}
                                <option value="{{ city.getPK }}" {% if city.getPK == office.address.city.getPk %} selected {% endif %}>{{ city.title }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>

                <!-- выпадающий список статусов-->
                <div class="form-group">
                    <label for="id-status" class="col-sm-4 control-label">Статус офиса</label>
                    <div class="col-sm-8">
                        <select name="data[statId]" id="id-status" class="form-control">
                            {% for status in statuses %}
                                <option value="{{ status.getPK }}" {% if status.getPK == office.status.getPk %} selected {% endif %}>{{ status.title }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>

                <!-- поле ввода Lotus ID офиса -->
                <div class="form-group">
                    <label for="id-office" class="col-sm-4 control-label">Lotus ID</label>
                    <div class="col-sm-8">
                        <input type="number" class="form-control" name="data[lotusId]" id="id-office"
                               value="{{ office.lotusId }}">
                    </div>
                </div>

                <!-- поле ввода названия офиса -->
                <div class="form-group">
                    <label for="id-office" class="col-sm-4 control-label">Название офиса</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" name="data[title]" id="id-office"
                               value="{{ office.title }}">
                    </div>
                </div>

                <!-- поле ввода адреса-->
                <div class="form-group">
                    <label for="id-address" class="col-sm-4 control-label">Адрес офиса</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" name="data[address]" id="id-address"
                               value="{{ office.address.address }}">
                    </div>
                </div>

                <div class="col-sm-offset-3 col-sm-8">
                        <button class="btn btn-success" type="submit">Сохранить</button>
                        <button class="btn btn-danger" type="button" role="button" data-action="close">
                            Отмена
                        </button>
                </div>
            </form>
        </div>
    </div>
</div>


