{% extends 'IndexDev.html' %}

{% block main %}
    <div class="row">
        <div class="col-xs-12">
            <table id="loc_tab">
                <thead>
                <tr>
                    <th></th>
                </tr>
                </thead>
            </table>
        </div>
    </div>

{% endblock %}



{% block JS %}
    <script>
        tableSettings = {
            dataUrl: "/locations/officesTable.json",
            width: '100',
            header: {
                tableClasses: "bg-primary table-bordered",
                columns: {
                    regCenter: {name: 'Рег. центр', width: 15, sortable: true, filterable: true},
                    region: {name: 'Регион', width: 10, sortable: true, filterable: true},
                    city: {name: 'Город', width: 10, sortable: true, filterable: true},
                    address: {name: 'Адрес', width: 15, sortable: true, filterable: true},
                    office: {id: 'office', name: 'Офис', width: 15, sortable: true, filterable: true, class: "text-left"},
                    officeStatus: {id: 'office-status', name: 'Статус', width: "80px", sortable: true, filterable: true, class: "text-center"},
                    people: {name: 'кол-во сотр.', width: "100px", sortable: true, filterable: false},
                    devStatistics: {name: 'Статистика', width: 35, sortable: true, filterable: false},
                    {% if not user.readOnly %}
                    action: {id: 'action', name: 'Действия', width: '105px'}
                    {% endif %}
                },
                filters: {
                    url: '/ajax/default.json'
                }
            },
            pager: {
                rowsOnPage: 50,
                rowList: [10,20,50,100,200,"все"]
            },
            styles: {
                header: {
                    table: {
                        classes: ["bg-primary", "table-bordered"],
                        css: {}
                    }
                },
                body: {
                    table: {
                        classes: ["table", "cell-bordered", "cust-table-striped"],
                        css: {}
                    }
                }
            }
        };

        jQuery(function ($) {
            var locTable = $("#loc_tab");
            locTable.jqTable(tableSettings).jqTable('updateBodyContent', {}, window.location.href);
//            var toggleInnerTable = function (e) {
//                if ($(e.target).hasClass('toggler') || $(e.target).parents('.toggler').hasClass('toggler')) {
//                    $(e.target).closest("table").find("tbody tr td").slideToggle("fast");
//                    $(e.target).closest("table").find(".js-caret").toggleClass("caret-down");
//                }
//            };
//            devTable.jqTable('addBodyEventHandler', 'click', "", toggleInnerTable);
            locTable.jqTable('addHeaderEventHandler', 'click', "", function (e) {
                if ($(e.target).parent().hasClass('finder-icon') || $(e.target).hasClass('finder-icon')) {
                    var ws = e.data;
                    console.log('finder click');
                    var $finder = $('<input/>', {type: 'text', class: 'finder-input'});
                    ws.obj.$finder.blur(function (event) {
                        console.log('focus out');
                        ws.obj.$finder.remove();
                    });
                    ws.obj.$finder.css({position: 'absolute'});
                    ws.obj.$finder.appendTo('.finder-icon').position({
                        my: "right top",
                        at: "center bottom+5",
                        of: event.target
                    }).focus()
                }
            })

        });
    </script>
    <script>
        var APP = APP || {};
        if ("{{exportUrl}}") {
            $("#excelExport").removeClass("hidden");
            APP.setLink("#excelExport", "{{ exportUrl }}");
        }
        if ("{{eraseLogUrl}}") {
        $("#eraseLog").removeClass("hidden");
        APP.setLink("#eraseLog", "{{ eraseLogUrl }}");
        }

    </script>
{% endblock %}