<thead>
<tr>
    <th id={{ columns.regCenter.th_id|trim('#') }} class="text-left">{{ columns.regCenter.name }}</th>
    <th id={{ columns.region.th_id|trim('#') }} class="text-left">{{ columns.region.name }}</th>
    <th id={{ columns.city.th_id|trim('#') }} class="text-left">{{ columns.city.name }}</th>
    <th id={{ columns.address.th_id|trim('#') }} class="text-left">{{ columns.address.name }}</th>
    <th id={{ columns.office.th_id|trim('#') }}>{{ columns.office.name }}</th>
    <th id={{ columns.officeStatus.th_id|trim('#') }}>{{ columns.officeStatus.name }}</th>
    {#<th id={{ columns.lotusId.th_id|trim('#') }}>{{ columns.lotusId.name }}</th>#}
    <th id={{ columns.people.th_id|trim('#') }}>{{ columns.people.name }}</th>
    <th id={{ columns.devStatistics.th_id|trim('#') }}>{{ columns.devStatistics.name }}</th>
    <th id={{ columns.action.th_id|trim('#') }}>{{ columns.action.name }}</th>
</tr>
</thead>
