{% extends 'Index.html' %}

{% block main %}

    {#<div class="panel panel-default">#}
        {#<div class="panel-body">#}
            {#{% for record in records %}#}
                {#<span id="{{ loop.index|trim }}">{{ record }}</span><br>#}
            {#{% endfor %}#}
        {#</div>#}
    {#</div>#}
    <div class="panel panel-default">
        <div class="panel-body">
            <table>
                <tbody style="border: 1px solid #ddd">
                {% for record in records %}
                    <tr style="border: 1px solid #ddd; vertical-align: top">
                        <td class="col-15">{{ record['title']|raw }}</td>
                        <td><b>[message]</b>: {{ record['message'] }}<br><b>[name]</b>: {{ record['name'] }}<br><b>[ip]</b>: {{ record['ip'] }}<br><b>[number]</b>: {{ record['number'] }}<br><b>[model]</b>: {{ record['model'] }}<br><b>[class]</b>: {{ record['class'] }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
