<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>T4 template</title>
    {{ publish('/Layouts/resources') }}
    {{ publishCss() }}
    <link rel="stylesheet" href="{{ asset('/Layouts/resources/jquery-ui-min/jquery-ui.min.css') }}">
    <link rel="stylesheet" href="{{ asset('/Layouts/resources/bootstrap/css/bootstrap.css') }}">
    <link rel="stylesheet" href="{{ asset('/Layouts/resources/css/style.css') }}">


    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

    <!--js-->
    {{ publishJs() }}
    <script src="{{ asset('/Layouts/resources/jquery-ui-min/external/jquery/jquery.js') }}"></script>
    <script src="{{ asset('/Layouts/resources/bootstrap/js/dropdown.js') }}"></script>
    <script src="{{ asset('/Layouts/resources/jquery-ui-min/jquery-ui.min.js') }}"></script>
    <script src="{{ asset('/Layouts/resources/js/jquery.cookie.js') }}"></script>
    <script src="{{ asset('/Layouts/resources/js/script.js') }}"></script>
    {% block headerScript %}
    {% endblock %}
</head>
<body>
<div class="container-fluid">
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/admin/offices"><img src="{{ asset('/Layouts/resources/img/logo_brs_small_2.png') }}" height="40" alt="BRS"></a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse navbar-ex1-collapse">
                <ul class="nav navbar-nav">
                    <li {% if activeLink.offices == true %}class="active" {% endif %}>
                        <a href="/admin/offices">Офисы</a>
                    </li>
                    <li class="dropdown {% if activeLink.devices == true %} active {% endif %}">
                        <a href="#" class="dropdown-toggle active" data-toggle="dropdown">Оборудование <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="/admin/devices">По офисам(HW inventory)</a></li>
                            <li><a href="/admin/portInventory">По офисам(ports inventory)</a></li>
                        </ul>
                    </li>
                    <li class="dropdown {% if activeLink.ipPlanning == true %} active {% endif %}">
                        <a href="#" class="dropdown-toggle active" data-toggle="dropdown">IP Planning<b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="/admin/vrf">VRF</a></li>
                            <li><a href="/admin/NetworksTab">Networks(Table)</a></li>
                            <li><a href="/admin/NetworksTree">Networks(Tree)</a></li>
                        </ul>
                    </li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown {% if activeLink.dictionary == true %} active {% endif %}">
                        <a href="#" class="dropdown-toggle active" data-toggle="dropdown">Справочники <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="/admin/regions">Регионы</a></li>
                            <li><a href="/admin/cities">Города</a></li>
                            <li><a href="/admin/officeStatuses">Статусы офисов</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="/admin/devparts">Оборудование</a></li>
                            <li><a href="/admin/portTypes">Типы портов</a></li>
                        </ul>
                    </li>
                </ul>
            </div><!-- /.navbar-collapse -->

        </div>
    </nav>

    {% block main %}
    {% endblock %}
</div>
    {% block JS %}
    {% endblock %}
</body>
</html>