{% extends 'Index.html' %}

{% block main %}
    <div class="row">
        <div class="col-xs-12">
            <table id="dev_tab">
                <thead>
                <tr>
                    <th></th>
                </tr>
                </thead>
            </table>
        </div>
    </div>

{% endblock %}



{% block JS %}
    <script>
        tableSettings = {
            dataUrl: "/usersPhone/usersPhoneTable.json",
            width: '280',
            header: {
                tableClasses: "bg-primary table-bordered",
                columns: {
                    region: {id: 'region', name: 'Регион', width: 4, sortable: true, filterable: true},
                    office: {id: 'office', name: 'Офис', width: 8, sortable: true, filterable: true},
                    lotusUser: {id: 'lotus-user', name: 'ФИО', width: 6, sortable: true, filterable: true},
                    lotusUserPosition: {id: 'lotus-user-position', name: 'Должность', width: 7, sortable: false, filterable: true},
                    dn: {id: 'work-phone', name: 'Номер', width: 3, sortable: false, filterable: true},
                    lotusUserMobilePhone: {id: 'lotus-user-mobile-phone', name: 'Мобильный', width: 3, sortable: false, filterable: true},
                    isActive: {id: 'is-active', name: 'Активный', width: 2, sortable: false, filterable: true},
                    model: {id: 'model', name: 'Модель телефона', width: 5, sortable: false, filterable: true},
                    serialNumber: {id: 'serial-number', name: 'SN', width: 4, sortable: false, filterable: true},
                    inventoryNumber: {id: 'inventory-number', name: 'Инв.', width: 3, sortable: false, filterable: true},
                    ipAddress: {id: 'ip-address', name: 'IP тел-на', width: 4, sortable: false, filterable: true},
                    switchPort: {id: 'switch-port', name: 'Порт коммут-ра', width: 4, sortable: false, filterable: true},
                    switchPlatform: {id: 'switch-platform', name: 'Коммутатор', width: 6, sortable: false, filterable: true},
                    switchIp: {id: 'switch-ip', name: 'IP коммут-ра', width: 4, sortable: false, filterable: true},
                    switchInventoryNumber: {id: 'switch-inventory-number', name: 'Инв. коммут-ра', width: 3, sortable: false, filterable: true},
                    alertingName: {id: 'alerting-name', name: 'Alerting name', width: 4, sortable: false, filterable: true},
                    inventoryUser: {id: 'inventory-user', name: 'Пользователь 1С', width: 4, sortable: false, filterable: true},
                    mol: {id: 'mol', name: 'МОЛ', width: 4, sortable: false, filterable: true},
                    lotusUserDivision: {id: 'lotus-user-division', name: 'Подразделение', width: 22, sortable: false, filterable: true},
                }
            },
            pager: {
                rowsOnPage: 50,
                rowList: [10,20,50,100,200,"все"]
            },
            styles: {
                header: {
                    table: {
                        classes: ["bg-primary", "table-bordered"],
                        css: {}
                    }
                },
                body: {
                    table: {
                        classes: ["table", "cell-bordered", "cust-table-striped"],
                        css: {}
                    }
                }
            }
        };

        jQuery(function ($) {
            var devTable = $("#dev_tab");
            devTable.jqTable(tableSettings).jqTable('updateBodyContent', {}, window.location.href);
            var toggleInnerTable = function (e) {
                if ($(e.target).hasClass('toggler') || $(e.target).parents('.toggler').hasClass('toggler')) {
                    $(e.target).closest("table").find("tbody tr td").slideToggle("fast");
                    $(e.target).closest("table").find(".js-caret").toggleClass("caret-down");
                }
            };

            devTable.jqTable('addBodyEventHandler', 'click', "", toggleInnerTable);
            devTable.jqTable('addHeaderEventHandler', 'click', "", function (e) {
                if ($(e.target).parent().hasClass('finder-icon') || $(e.target).hasClass('finder-icon')) {
                    var ws = e.data;
                    console.log('finder click');
                    var $finder = $('<input/>', {type: 'text', class: 'finder-input'});
                    ws.obj.$finder.blur(function (event) {
                        console.log('focus out');
                        ws.obj.$finder.remove();
                    });
                    ws.obj.$finder.css({position: 'absolute'});
                    ws.obj.$finder.appendTo('.finder-icon').position({
                        my: "right top",
                        at: "center bottom+5",
                        of: event.target
                    }).focus()
                }
            })

        });
    </script>
    <script>
        var APP = APP || {};
        if ("{{exportUrl}}") {
            $("#excelExport").removeClass("hidden");
            APP.setLink("#excelExport", "{{ exportUrl }}");
        }
        if ("{{eraseLogUrl}}") {
        $("#eraseLog").removeClass("hidden");
        APP.setLink("#eraseLog", "{{ eraseLogUrl }}");
        }

    </script>
{% endblock %}