<thead>
<tr>
    <th id={{ columns.region.th_id|trim('#') }} class="text-left">{{ columns.region.name }}</th>
    <th id={{ columns.office.th_id|trim('#') }}>{{ columns.office.name }}</th>
    <th id={{ columns.lotusUser.th_id|trim('#') }}>{{ columns.lotusUser.name }}</th>
    <th id={{ columns.lotusUserPosition.th_id|trim('#') }}>{{ columns.lotusUserPosition.name }}</th>
    <th id={{ columns.dn.th_id|trim('#') }}>{{ columns.dn.name }}</th>
    <th id={{ columns.lotusUserMobilePhone.th_id|trim('#') }}>{{ columns.lotusUserMobilePhone.name }}</th>
    <th id={{ columns.isActive.th_id|trim('#') }}>{{ columns.isActive.name }}</th>
    <th id={{ columns.model.th_id|trim('#') }}>{{ columns.model.name }}</th>
    <th id={{ columns.serialNumber.th_id|trim('#') }}>{{ columns.serialNumber.name }}</th>
    <th id={{ columns.inventoryNumber.th_id|trim('#') }}>{{ columns.inventoryNumber.name }}</th>
    <th id={{ columns.ipAddress.th_id|trim('#') }}>{{ columns.ipAddress.name }}</th>
    <th id={{ columns.switchPort.th_id|trim('#') }}>{{ columns.switchPort.name }}</th>
    <th id={{ columns.switchPlatform.th_id|trim('#') }}>{{ columns.switchPlatform.name }}</th>
    <th id={{ columns.switchIp.th_id|trim('#') }}>{{ columns.switchIp.name }}</th>
    <th id={{ columns.switchInventoryNumber.th_id|trim('#') }}>{{ columns.switchInventoryNumber.name }}</th>
    <th id={{ columns.alertingName.th_id|trim('#') }}>{{ columns.alertingName.name }}</th>
    <th id={{ columns.inventoryUser.th_id|trim('#') }}>{{ columns.inventoryUser.name }}</th>
    <th id={{ columns.mol.th_id|trim('#') }}>{{ columns.mol.name }}</th>
    <th id={{ columns.lotusUserDivision.th_id|trim('#') }}>{{ columns.lotusUserDivision.name }}</th>
</tr>
</thead>
