{% extends 'TestIndex.html' %}
{% block main %}
    <div>

        <!-- Nav tabs -->
        <ul class="nav nav-tabs" data-panelName="test" role="tablist">
            <li class="active" aria-controls="home" aria-selected="true" role="tab" data-toggle="tab"><a href="#home">Home</a></li>
            <li aria-controls="profile" aria-selected="false" role="tab" data-toggle="tab"><a href="#profile">Profile</a></li>
            <li aria-controls="messages" aria-selected="false" role="tab" data-toggle="tab"><a href="#messages">Messages</a></li>
            <li aria-controls="settings" aria-selected="false" role="tab" data-toggle="tab"><a href="#settings">Settings</a></li>
        </ul>

        <!-- Tab panes -->
        <div class="tab-content" data-panelName="test">
            <div class="tab-pane active" role="tabpanel" id="home">Home</div>
            <div class="tab-pane" role="tabpanel" id="profile">Profile</div>
            <div class="tab-pane" role="tabpanel" id="messages">Messages</div>
            <div class="tab-pane" role="tabpanel" id="settings">Settings</div>
        </div>

    </div>
{% endblock %}
