{% extends 'Index.html' %}
{% block main %}
    <div id="office-detail" role="dialog" title="Информация по офису">
        <div class="container">
            <div class="row"><!-- Nav tabs -->
                <div class="col-xs-12">
                    <ul class="nav nav-tabs" data-panelName="test" role="tablist">
                        <li class="active" aria-controls="general" aria-selected="true" role="tab" data-toggle="tab"><a
                                    href="#general">Общая информация</a></li>
                        <li aria-controls="devices" aria-selected="false" role="tab" data-toggle="tab"><a
                                    href="#devices">Устройства</a>
                        </li>
                        <li aria-controls="pstn" aria-selected="false" role="tab" data-toggle="tab"><a href="#pstn">Номера
                                PSTN</a></li>
                        <li aria-controls="other" aria-selected="false" role="tab" data-toggle="tab"><a
                                    href="#other">Прочее</a>
                        </li>
                    </ul>

                    <!-- Tab panes -->
                    <!--Панель общей информации-->
                    <div class="tab-content" data-panelName="test">
                        <div class="tab-pane active" role="tabpanel" id="general">
                            <form class="form-horizontal">
                                <div class="form-group ">
                                    <label class="col-sm-2 control-label" for="id-region">Название</label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control" id="id-region"
                                               value="Калининград, ККО Калининград - Черняховского" readonly>
                                    </div>
                                </div>
                                <div class="form-group ">
                                    <label class="col-sm-2 control-label" for="id-status">Статус</label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control" id="id-status" value="Открыт" readonly>
                                    </div>
                                </div>
                                <div class="form-group ">
                                    <label class="col-sm-2 control-label" for="id-region">Регион</label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control" id="id-region" value="Калининград"
                                               readonly>
                                    </div>
                                </div>
                                <div class="form-group ">
                                    <label class="col-sm-2 control-label" for="id-city">Город</label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control" id="id-city" value="Калининград"
                                               readonly>
                                    </div>
                                </div>
                                <div class="form-group ">
                                    <label class="col-sm-2 control-label" for="id-address">Адрес</label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control" id="id-address"
                                               value="ул. Черняховского, дом №30-40, пом. IX, А3,а4 (Калининград №5) - ККО4"
                                               readonly>
                                    </div>
                                </div>
                                <div class="form-group ">
                                    <label class="col-sm-2 control-label" for="id-status">Лотус ID</label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control" id="id-status" value="79" readonly>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <!--Панель девайсов-->
                        <div class="tab-pane" role="tabpanel" id="devices">
                            <table class="table table-bordered table-striped">
                                <thead>
                                <tr>
                                    <th class="bg-primary col-hostname">
                                        <span class="th-divider-left">Hostname</span>
                                        <span class="th-divider-right"></span>
                                    </th>
                                    <th class="bg-primary col-management-ip">
                                        <span class="th-divider-left">Management IP</span>
                                        <span class="th-divider-right"></span>
                                    </th>
                                    <th class="bg-primary col-hw-platform">
                                        <span class="th-divider-left">HW платформа</span>
                                    </th>
                                    <th class="bg-primary col-software">
                                        <span class="th-divider-left">Software</span>
                                        <span class="th-divider-right"></span>
                                    </th>
                                    <th class="bg-primary col-port-type">
                                        <span class="th-divider-left">Тип порта</span>
                                    </th>
                                    <th class="bg-primary col-pstn-numbers">
                                        <span class="th-divider-left">PSTN номера</span>
                                    </th>
                                </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td rowspan="2">Lorem ipsum.</td>
                                        <td rowspan="2"><a href="#">192.168.1.1/24</a></td>
                                        <td rowspan="2">Cisco 2801</td>
                                        <td rowspan="2">IOS 15.04 adv ent</td>
                                        <td>FXO</td>
                                        <td><a href="#">8452-88-99-44</a></td>
                                    </tr>
                                    <tr>
                                        <td>FXO</td>
                                        <td><a href="#">8452-88-99-44</a></td>
                                    </tr>
                                    <tr>
                                        <td rowspan="2">Lorem ipsum.</td>
                                        <td rowspan="2"><a href="#">192.168.1.1/24</a></td>
                                        <td rowspan="2">Cisco 2801</td>
                                        <td rowspan="2">IOS 15.04 adv ent</td>
                                        <td>FXO</td>
                                        <td><a href="#">8452-88-99-44</a></td>
                                    </tr>
                                    <tr>
                                        <td>Е1</td>
                                        <td><a href="#">12 номеров</a></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <!--Панель PSTN номеров-->
                        <div class="tab-pane" role="tabpanel" id="pstn">
                            Messages
                        </div>
                        <!--Резерв-->
                        <div class="tab-pane" role="tabpanel" id="other">
                            Settings
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>{% endblock %}
