{% extends 'Index.html' %}

{% block main %}
                <div class="col-xs-5">
                    <table id="regsTable" class="table table-bordered table-hover table-striped">
                        <thead>
                            <tr>
                            <th class="bg-primary col-region">
                                <span class="th-divider-left">Регион</span>
                                <span class="th-divider-right">
                                    <a class="btn btn-success btn-xs" href="/modal/testAddRegion" role="button" data-action="add">Добавить</a>
                                </span>
                            </th>

                            <th class="bg-primary col-actions">
                                <span class="th-divider-left">Действия</span>
                            </th>
                        </tr>
                        </thead>
                        <!--Данные-->
                        <tbody>
                        {% for region in regions %}

                            <tr>
                                <td class="col-region cut-string">{{ region.title }}</td>
                                <td class="col-actions">
                                    <a class="btn btn-success btn-xs" href="/modal/editRegion?id={{ region.getPK }}"
                                       role="button" data-action="edit">
                                        Изменить
                                    </a>
                                    <a class="btn btn-danger btn-xs" href="/admin/delRegion?id={{ region.getPK }}" data-action="delete">
                                        Удалить
                                    </a>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
{% endblock %}
