{% extends 'Index.html' %}

{% block main %}
    <style>
        table { table-layout: fixed; }
        table th, table td { overflow: hidden; }
    </style>
    <div class="container-fluid">
    	<div class="row">
    		<div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">

    		</div>
            <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10">
                <table class="table table-hover table-bordered">
                    <thead>
                    <tr>
                        <th class="col-xs-1">Lotus id</th>
                        <th class="col-xs-2">Регион</th>
                        <th class="col-xs-2">Город</th>
                        <th class="col-xs-2">Адрес</th>
                        <th class="col-xs-1">Офис</th>
                        <th class="col-xs-1">Доп инфо</th>
                        <th style="min-width: 200px"></th>

                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>1</td>
                        <td>Саратовская область</td>
                        <td>Саратов</td>
                        <td>пр-т 50 лет Октября, д.107А, 9-этаж</td>
                        <td>Тестовый офис</td>
                        <td>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A, aperiam beatae commodi error et, fugit, nobis obcaecati omnis quibusdam quo repellendus ullam veritatis. Alias cupiditate doloribus minima quis reprehenderit tempore.</td>
                        <td>
                            <div class="btn-group" role="group" aria-label="...">
                                <a class="btn btn-success" href="#">подробно</a>
                                <a class="btn btn-warning" href="#">изменить</a>
                                <a class="btn btn-danger" href="#">удалить</a>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
    	</div>
    </div>

{% endblock %}
