{% extends 'Index.html' %}

{% block main %}
    <div class="row">
        <main class="devices">

                    {% for office in offices %}
                        {% for appliance in office.appliances %}
                            <p>{{ appliance.modules.count }} -
                                {{ office.title }} -
                                {{ appliance.platform.platform.title }} -
                                {{ appliance.software.software.title }}</p>
                        {#<tbody>#}
                        {#<tr>#}
                            {#<td rowspan="{{ appliance.modules.count }}">{{ office.title }}</td>#}
                            {#<td rowspan="{{ appliance.modules.count }}">{{ appliance.platform.title }}</td>#}
                            {#<td rowspan="{{ appliance.modules.count }}">{{ appliance.software.title }}</td>#}
                            {#<td rowspan="{{ appliance.modules.count }}">host1</td>#}
                            {#<td rowspan="">{{ appliance.modules.first.module.title }}</td>#}
                            {#<td rowspan="{{ appliance.modules.count }}">{{ appliance.comment }} 1</td>#}
                            {#<td rowspan="{{ appliance.modules.count }}">action</td>#}
                        {#</tr>#}

                        {% endfor %}   {#appliances#}
                    {% endfor %}    {#offices#}

        </main>
    </div>
{% endblock %}

