{% extends 'Index.html' %}

{% block main %}
    <div class="row">
        <main class="devices">
            <div class="col-xs-12">
                <table class="table table-bordered table-hover table-striped cust-table-striped">
                    <thead>
                    <tr class="text-middle text-center">
                        <th class="bg-primary col-office" rowspan="2">Офис</th>
                        <th class="bg-primary col-hardware" rowspan="2">Оборудование<a class="btn btn-success btn-xs btn-custom pull-right" href="/modal/addAppliance" role="button" data-action="get-popup">добавить</a></th>
                        <th class="bg-primary col-software" rowspan="2">ПО</th>
                        <th class="bg-primary col-software" rowspan="2">hostname</th>
                        <th class="bg-primary col-module" rowspan="2">Модуль</th>
                        <th class="bg-primary col-port" colspan="3">Порты</th>
                        <th class="bg-primary col-comment" rowspan="2">Комментарий</th>
                        <th class="bg-primary col-actions" rowspan="2">Действия</th>
                    </tr>
                    <tr class="text-center">
                        <th class="bg-primary col-port-type">Тип</th>
                        <th class="bg-primary col-port-type">MAC</th>
                        <th class="bg-primary col-port-type">IP</th>
                    </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td rowspan="4">office</td>
                            <td rowspan="4">device<a class="btn btn-success btn-xs btn-custom pull-right" href="/modal/addAppliance" role="button" data-action="get-popup">добавить</a></th></td>
                            <td rowspan="4">sotf</td>
                            <td rowspan="4">host1</td>
                            <td rowspan="2">module 1</td>
                            <td>ethernet</td>
                            <td>mac 1</td>
                            <td>192.168.128.124/24</td>
                            <td rowspan="2">comment 1</td>
                            <td rowspan="2">action</td>
                        </tr>
                        <tr>
                            <td>type eth</td>
                            <td>mac 2</td>
                            <td>192.168.128.124/24</td>
                        </tr>
                        <tr>
                            <td rowspan="2">module 1</td>
                            <td>type eth</td>
                            <td>mac 3</td>
                            <td>192.168.128.124/24</td>
                            <td rowspan="2">comment 1</td>
                            <td rowspan="2">action</td>
                        </tr>
                        <tr>
                            <td>type eth</td>
                            <td>mac 4</td>
                            <td>192.168.128.124/24</td>
                        </tr>
                    </tbody>
                    <tbody>
                        <tr>
                            <td rowspan="4">office</td>
                            <td rowspan="4">device</td>
                            <td rowspan="4">sotf</td>
                            <td rowspan="4">host1</td>
                            <td rowspan="2">module 1</td>
                            <td>ethernet</td>
                            <td>mac 1</td>
                            <td>192.168.128.124/24</td>
                            <td rowspan="2">comment 1</td>
                            <td rowspan="2">action</td>
                        </tr>
                        <tr>
                            <td>type eth</td>
                            <td>mac 2</td>
                            <td>192.168.128.124/24</td>
                        </tr>
                        <tr>
                            <td rowspan="2">module 1</td>
                            <td>type eth</td>
                            <td>mac 3</td>
                            <td>192.168.128.124/24</td>
                            <td rowspan="2">comment 1</td>
                            <td rowspan="2">action</td>
                        </tr>
                        <tr>
                            <td>type eth</td>
                            <td>mac 4</td>
                            <td>192.168.128.124/24</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </main>
    </div>
{% endblock %}

