{% extends 'Index.html' %}

{% block main %}
    <div class="container-fluid">

        <div class="row">
            <aside>
                <div class="col-xs-2 aside-menu">
                    <div class="section">
                        <a class="btn btn-default" href="/admin/offices">Офисы</a>
                        <a class="btn btn-default active" href="/admin/devices">Оборудование</a>
                    </div>
                    <div class="section-title">
                        <h4 class="text-center">Справочники</h4>
                    </div>
                    <div class="section">
                        <a class="btn btn-default" href="/admin/offices">Офисы</a>
                        <a class="btn btn-default" href="/admin/regions">Регионы</a>
                        <a class="btn btn-default" href="/admin/cities">Города</a>
                        <a class="btn btn-default" href="/admin/officeStatuses">Статусы офисов</a>
                        <a class="btn btn-default" href="/admin/devparts">Оборудование</a>
                    </div>
                </div>
            </aside>
            <main class="offices">
                <div class="col-xs-10">
                    <table class="table table-bordered table-hover table-striped">
                        <thead>
                        <tr>
                            <th class="bg-primary col-region">Регион</th>
                            <th class="bg-primary col-city">Город</th>
                            <th class="bg-primary col-office">Офис</th>
                            <th class="bg-primary col-hardware">Оборудование</th>
                            <th class="bg-primary col-software">ПО</th>
                            <th class="bg-primary col-port-type">Тип порта</th>
                            <th class="bg-primary col-ip-address">IP адрес</th>
                            <th class="bg-primary col-mac-address">MAC адрес</th>
                            <th class="bg-primary col-comment">Комментарий</th>
                            <th class="bg-primary col-actions">Действия</th>
                        </tr>
                        </thead>
                        <tbody>

                        </tbody>
                    </table>
                </div>
            </main>

        </div>
    </div>
    <script>
        var APP = APP || {};
        APP.settings = APP.settings || {};
        APP.settings.modalURL = "/modal/officeDetail";
    </script>



{% endblock %}
