{% extends 'Index.html' %}

{% block main %}
    <div class="row">
        <main class="devices">
            <div class="col-xs-8">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Vendors, Hardware, Software, Clusters</h3>
                    </div>
                    <div class="panel-body">
                        <div>
                            <!-- Nav tabs -->
                            <ul class="nav nav-tabs" role="tablist">
                                <li aria-controls="types" role="tab">
                                    <a href="#types">Тип(роль)</a>
                                </li>
                                <li class="active" aria-controls="platforms" role="tab">
                                    <a href="#platforms">Платформы</a>
                                </li>
                                <li aria-controls="modules" role="tab">
                                    <a href="#modules">Модули</a>
                                </li>
                                <li aria-controls="software" role="tab">
                                    <a href="#software">ПО</a>
                                </li>
                                <li aria-controls="vendors" role="tab">
                                    <a href="#vendors">Производители</a>
                                </li>
                                <!-- кластеры доделать потом
                                   <li aria-controls="clusters" role="tab">
                                       <a href="#clusters">Производители</a>
                                   </li>
                                   -->
                            </ul>
                            <!-- Tab panels -->
                            <div class="tab-content">
                                <!-- Types -->
                                <div class="tab-pane" role="tabpanel" id="types">
                                    <table class="bg-default table table-condensed table-bordered table-hover table-striped no-cut-long-text">
                                        <thead>
                                            <tr>
                                                <th class="bg-primary">Тип(роль)<a class="btn btn-success btn-xs pull-right" href="/modal/addApplianceType" role="button" data-action="get-popup"><span class="glyphicon glyphicon-plus" aria-hidden="true" title="добавить"></span></a>
                                                </th>
                                                <th class="bg-primary col-xs-3">Действия</th>
                                            </tr>
                                        </thead>
                                        <!--Данные-->
                                        <tbody>
                                        {% for applianceType in applianceTypes %}
                                            <tr>
                                                <td>{{ applianceType }} <a href="{{ devsUrl.cloneToShortUrl.addQuery({'type': applianceType.getPk}) }}"><span class="pull-right">({{ applianceType.appliances.count }} items)</span></a></td>
                                                <td class="text-center">
                                                    <a class="btn btn-success btn-xs" href="/modal/editApplianceType?id={{ applianceType.getPK }}" role="button" data-action="get-popup"><span class="glyphicon glyphicon-pencil" aria-hidden="true" title="редактировать"></span></a>
                                                    <a class="btn btn-danger btn-xs" href="/admin/delApplianceType?id={{ applianceType.getPK }}" role="button" data-action="delete"><span class="glyphicon glyphicon-trash" aria-hidden="true" title="удалить"></span></a>
                                                </td>
                                            </tr>
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                                <!-- Platforms -->
                                <div class="tab-pane active" role="tabpanel" id="platforms">
                                    <table class="bg-default table table-condensed table-bordered table-hover table-striped cut-long-text">
                                        <thead>
                                        <tr>
                                            <th class="bg-primary">Платформа<a class="btn btn-success btn-xs pull-right" href="/modal/addPlatform" role="button" data-action="get-popup"><span class="glyphicon glyphicon-plus" aria-hidden="true" title="добавить"></span></a>
                                            </th>
                                            <th class="bg-primary col-xs-4">Производитель</th>
                                            <th class="bg-primary col-xs-3">Действия</th>
                                        </tr>
                                        </thead>
                                        <!--Данные-->
                                        <tbody>
                                        {% for platform in platforms %}
                                            <tr>
                                                <td>{{ platform.title }} <a href="{{ devsUrl.cloneToShortUrl.addQuery({'pl': platform.getPk}) }}"><span class="pull-right">({{ platform.platformItems.count }} items)</span></a></td>
                                                <td>{{ platform.vendor.title }}</td>
                                                <td class="text-center">
                                                    <a class="btn btn-success btn-xs" href="/modal/editPlatform?id={{ platform.getPK }}" role="button" data-action="get-popup"><span class="glyphicon glyphicon-pencil" aria-hidden="true" title="редактировать"></span></a>
                                                    <a class="btn btn-danger btn-xs" href="/admin/delPlatform?id={{ platform.getPK }}" role="button"  data-action="delete"><span class="glyphicon glyphicon-trash" aria-hidden="true" title="удалить"></span></a>
                                                </td>
                                            </tr>
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                                <!-- Modules -->
                                <div class="tab-pane" role="tabpanel" id="modules">
                                    <table class="bg-default table table-condensed table-bordered table-hover table-striped cut-long-text">
                                        <thead>
                                        <tr>
                                            <th class="bg-primary">Название<a class="btn btn-success btn-xs pull-right" href="/modal/addModule" role="button" data-action="get-popup"><span class="glyphicon glyphicon-plus" aria-hidden="true" title="добавить"></span></a>
                                            </th>
                                            <th class="bg-primary col-xs-4">
                                                <span class="th-divider-left">Производитель</span>
                                                <span class="th-divider-right"></span>
                                            </th>
                                            <th class="bg-primary col-xs-3">Действия</th>
                                        </tr>
                                        </thead>
                                        <!--Данные-->
                                        <tbody>
                                        {% for moduleItem in modules %}
                                            <tr>
                                                <td>{{ moduleItem.title }}</td>
                                                <td>{{ moduleItem.vendor.title }}</td>
                                                <td class="text-center">
                                                    <a class="btn btn-success btn-xs" href="/modal/editModule?id={{ moduleItem.getPK }}" role="button" data-action="get-popup"><span class="glyphicon glyphicon-pencil" aria-hidden="true" title="редактировать"></span></a>
                                                    <a class="btn btn-danger btn-xs" href="/admin/delModule?id={{ moduleItem.getPK }}" role="button" data-action="delete"><span class="glyphicon glyphicon-trash" aria-hidden="true" title="удалить"></span></a>
                                                </td>
                                            </tr>
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                                <!-- Software -->
                                <div class="tab-pane" role="tabpanel" id="software">
                                    <table class="bg-default table table-condensed table-bordered table-hover table-striped cut-long-text">
                                        <thead>
                                            <tr>
                                                <th class="bg-primary">Тип ПО<a class="btn btn-success btn-xs pull-right" href="/modal/addSoftware" role="button" data-action="get-popup"><span class="glyphicon glyphicon-plus" aria-hidden="true" title="добавить"></span></a>
                                                </th>
                                                <th class="bg-primary col-xs-4">Производитель</th>
                                                <th class="bg-primary col-xs-3">Действия</th>
                                            </tr>
                                        </thead>
                                        <!--Данные-->
                                        <tbody>
                                        {% for softItem in software %}
                                            <tr>
                                                <td>{{ softItem.title }} <a href="{{ devsUrl.cloneToShortUrl.addQuery({'soft': softItem.getPk}) }}"><span class="pull-right">({{ softItem.softwareItems.count }} items)</span></a></td>
                                                <td>{{ softItem.vendor.title }}</td>
                                                <td class="text-center">
                                                    <a class="btn btn-success btn-xs" href="/modal/editSoftware?id={{ softItem.getPK }}" role="button" data-action="get-popup"><span class="glyphicon glyphicon-pencil" aria-hidden="true" title="редактировать"></span></a>
                                                    <a class="btn btn-danger btn-xs" href="/admin/delSoftware?id={{ softItem.getPK }}" role="button" data-action="delete"><span class="glyphicon glyphicon-trash" aria-hidden="true" title="удалить"></span></a>
                                                </td>
                                            </tr>
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                                <!-- Clusters -->
                                <div class="tab-pane" role="tabpanel" id="clusters">
                                    ...
                                </div>
                                <!-- Vendors -->
                                <div class="tab-pane" role="tabpanel" id="vendors">
                                    <table class="bg-default table table-condensed table-bordered table-hover table-striped cut-long-text">
                                        <thead>
                                        <tr>
                                            <th class="bg-primary">Производитель<a class="btn btn-success btn-xs pull-right" href="/modal/addVendor" role="button" data-action="get-popup"><span class="glyphicon glyphicon-plus" aria-hidden="true" title="добавить"></span></a>
                                            </th>
                                            <th class="bg-primary col-xs-3">Действия</th>
                                        </tr>
                                        </thead>
                                        <!--Данные-->
                                        <tbody>
                                        {% for vendor in vendors %}
                                            <tr>
                                                <td>{{ vendor.title }}</td>
                                                <td class="text-center">
                                                    <a class="btn btn-success btn-xs" href="/modal/editVendor?id={{ vendor.getPK }}" role="button" data-action="get-popup"><span class="glyphicon glyphicon-pencil" aria-hidden="true" title="редактировать"></span></a>
                                                    <a class="btn btn-danger btn-xs" href="/admin/delVendor?id={{ vendor.getPK }}" role="button" data-action="delete"><span class="glyphicon glyphicon-trash" aria-hidden="true" title="удалить"></span></a>
                                                </td>
                                            </tr>
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </div>
    <script>
        var APP = APP || {};
        APP.settings = APP.settings || {};
        APP.settings.tablist = $('[role=tablist]');
        APP.settings.panels = $('[role=tabpanel]');
        APP.settings.activeTab = 'platforms';
        APP.settings.tablist.on(
                "click",
                "[role=tab]",
                function (event) {
                    event.preventDefault();
                    //переключение табов
                    //console.log($(this).attr("aria-controls"));
                    APP.settings.tablist.children('[role=tab]').removeClass("active");
                    APP.settings.activeTab = $(this).attr("aria-controls");
                    $(this).addClass("active");
                    //переключение панелей
                    APP.settings.panels.removeClass("active");
                    APP.settings.panels.filter("#" + APP.settings.activeTab).addClass("active");
                }
        )
    </script>
{% endblock %}
