{% extends 'Index.html' %}

{% block main %}
    <div class="row">
        <main class="offices">
            <div class="col-xs-12">
                <table id="fixed-header" class="bg-default table table-condensed table-bordered cust-table-striped no-cut-long-text">
                    <thead>
                        <tr>
                            <th class="bg-primary">Регион</th>
                            <th class="bg-primary col-10">Город</th>
                            <th class="bg-primary col-30">Адрес</th>
                            <th class="bg-primary col-30">Офис
                                <span class="btn-pull-right">
                                    <a class="btn btn-success btn-xs pull-right" href="/modal/addOffice" role="button"
                                       data-action="get-popup"><span class="glyphicon glyphicon-plus" aria-hidden="true" title="добавить новый офис"></span></a>
                                </span>
                            </th>
                            <th class="bg-primary col-10">Статус</th>
                            <th class="bg-primary col-10">Действия</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for office in offices %}
                        <tr class="office-row" data-action="popup-view" aria-controls="office-detail" data-id="{{ office.getPK }}">
                            {#Region#}
                            <td>
                                <a href="/admin/devices?reg={{ office.address.city.region.getPK }}" >{{ office.address.city.region.title }}</a>
                            </td>
                            {#City#}
                            <td>
                                <a href="/admin/devices?city={{ office.address.city.getPK }}" >{{ office.address.city.title }}</a>
                            </td>
                            {#Address#}
                            <td>{{ office.address.address }}</td>
                            {#office#}
                            <td>
                                <a href="/admin/devices?loc={{ office.getPK }}" >{{ office.title }}</a>
                            </td>
                            {#Status#}
                            <td>{{ office.status.title }}</td>
                            <td class="text-center">
                                <a class="btn btn-success btn-xs" href="/modal/editOffice?id={{ office.getPK }}" role="button" data-action="get-popup"><span class="glyphicon glyphicon-pencil" aria-hidden="true" title="редактировать офис"></span></a>
                                {% if user.level > 2 %}
                                <a class="btn btn-danger btn-xs" href="/admin/delOffice?id={{ office.getPK }}" role="button" data-action="delete"><span class="glyphicon glyphicon-trash" aria-hidden="true" title="удалить офис"></span></a>
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </main>
    </div>
{% endblock %}
{% block JS %}
    <script>
        var APP = APP || {};
        APP.navbar = APP.navbar || {};
        APP.navbar.activeLink = "{{ path }}"
    </script>
{% endblock %}
