{% extends 'Index.html' %}

{% block main %}
    <div class="container-fluid">
        <div class="row">
            <aside>
                <div class="col-xs-2 aside-menu">
                    <div class="section">
                        <a class="btn btn-default active" href="/admin/offices">Офисы</a>
                    </div>
                    <div class="section-title">
                        <h4 class="text-center">Справочники</h4>
                    </div>
                    <div class="section">
                        <a class="btn btn-default" href="/admin/offices">Офисы</a>
                        <a class="btn btn-default" href="/admin/regions">Регионы</a>
                        <a class="btn btn-default" href="/admin/cities">Города</a>
                        <a class="btn btn-default" href="/admin/officeStatuses">Статусы офисов</a>
                        <a class="btn btn-default" href="/admin/devices">Оборудование</a>
                    </div>
                </div>
            </aside>
            <main class="offices">
                <div class="col-xs-10">
                    <table class="table table-bordered table-hover table-striped">
                        <thead>
                        <tr>
                            <th class="bg-primary col-region">
                                <span class="th-divider-left">Регион</span>

                                <span class="th-divider-right">
                                    </span>
                            </th>
                            <th class="bg-primary col-city">
                                <span class="th-divider-left">Город</span>
                                <span class="th-divider-right">
                                    </span>
                            </th>
                            <th class="bg-primary col-address">
                                <span class="th-divider-left">Адрес</span>
                            </th>
                            <th class="bg-primary col-office">
                                <span class="th-divider-left">Офис</span>
                                <span class="th-divider-right">
                                        <a class="btn btn-success btn-xs" href="/modal/addOffice" role="button"
                                           data-action="add">Добавить</a>
                                    </span>
                            </th>
                            <th class="bg-primary col-status">
                                <span class="th-divider-left">Статус</span>
                            </th>
                            <th class="bg-primary col-actions">
                                <span class="th-divider-left">Действия</span>
                            </th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for office in offices %}
                            <tr class="office-row" role="button" aria-controls="office-detail"
                                data-id="{{ office.getPK }}">
                                <td class="col-region cut-string">{{ office.address.city.region.title }}</td>
                                <td class="col-city cut-string">{{ office.address.city.title }}</td>
                                <td class="col-address cut-string">{{ office.address.address }}</td>
                                <td class="col-office cut-string">{{ office.title }}</td>
                                <td class="col-status cut-string">{{ office.status.title }}</td>
                                <td class="col-actions">
                                    <a class="btn btn-success btn-xs" href="/modal/editOffice?id={{ office.getPK }}"
                                       role="button" data-action="edit">
                                        Изменить
                                    </a>
                                    <a class="btn btn-danger btn-xs" href="/admin/delOffice?id={{ office.getPK }}"
                                       data-action="delete">
                                        Удалить
                                    </a>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </main>

        </div>
    </div>
{% endblock %}

{% block modal %}
    <!-- Модальное окно вывода детальной инфы по офису -->
    <div id="office-detail2" role="dialog" title="Информация по офису">
        <div>
            <!-- Nav tabs -->
            <ul class="nav nav-tabs" data-panelName="test" role="tablist">
                <li class="active" aria-controls="home" aria-selected="true" role="tab" data-toggle="tab"><a
                            href="#home">Общая информация</a></li>
                <li aria-controls="profile" aria-selected="false" role="tab" data-toggle="tab"><a href="#profile">Устройства</a>
                </li>
                <li aria-controls="messages" aria-selected="false" role="tab" data-toggle="tab"><a href="#messages">Номера
                        PSTN</a></li>
                <li aria-controls="settings" aria-selected="false" role="tab" data-toggle="tab"><a href="#settings">Прочее</a>
                </li>
            </ul>
            <!-- Tab panes -->
            <div class="tab-content" data-panelName="test">
                <div class="tab-pane active" role="tabpanel" id="home">
                </div>
                <div class="tab-pane" role="tabpanel" id="profile">
                    Profile
                </div>
                <div class="tab-pane" role="tabpanel" id="messages">
                    Messages
                </div>
                <div class="tab-pane" role="tabpanel" id="settings">
                    Settings
                </div>
            </div>
        </div>
    </div>

    <!-- Тестовое Модальное окно вывода детальной инфы по офису -->
    <div id="office-detail" role="dialog" title="Информация по офису">
        <div class="container">
            <div class="row"><!-- Nav tabs -->
                <div class="col-xs-12">
                    <ul class="nav nav-tabs" data-panelName="test" role="tablist">
                        <li class="active" aria-controls="general" aria-selected="true" role="tab" data-toggle="tab"><a
                                    href="#general">Общая информация</a></li>
                        <li aria-controls="devices" aria-selected="false" role="tab" data-toggle="tab"><a
                                    href="#devices">Устройства</a>
                        </li>
                        <li aria-controls="pstn" aria-selected="false" role="tab" data-toggle="tab"><a href="#pstn">Номера
                                PSTN</a></li>
                        <li aria-controls="other" aria-selected="false" role="tab" data-toggle="tab"><a
                                    href="#other">Прочее</a>
                        </li>
                    </ul>

                    <!-- Tab panes -->
                    <!--Панель общей информации-->
                    <div class="tab-content" data-panelName="test">
                        <div class="tab-pane active" role="tabpanel" id="general">
                            <form class="form-horizontal">
                                <div class="form-group ">
                                    <label class="col-sm-2 control-label" for="id-region">Название</label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control" id="id-region"
                                               value="Калининград, ККО Калининград - Черняховского" readonly>
                                    </div>
                                </div>
                                <div class="form-group ">
                                    <label class="col-sm-2 control-label" for="id-status">Статус</label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control" id="id-status" value="Открыт" readonly>
                                    </div>
                                </div>
                                <div class="form-group ">
                                    <label class="col-sm-2 control-label" for="id-region">Регион</label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control" id="id-region" value="Калининград"
                                               readonly>
                                    </div>
                                </div>
                                <div class="form-group ">
                                    <label class="col-sm-2 control-label" for="id-city">Город</label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control" id="id-city" value="Калининград"
                                               readonly>
                                    </div>
                                </div>
                                <div class="form-group ">
                                    <label class="col-sm-2 control-label" for="id-address">Адрес</label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control" id="id-address"
                                               value="ул. Черняховского, дом №30-40, пом. IX, А3,а4 (Калининград №5) - ККО4"
                                               readonly>
                                    </div>
                                </div>
                                <div class="form-group ">
                                    <label class="col-sm-2 control-label" for="id-status">Лотус ID</label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control" id="id-status" value="79" readonly>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <!--Панель девайсов-->
                        <div class="tab-pane" role="tabpanel" id="devices">
                            <table class="table table-bordered cust-table-striped table-devices">
                                <thead>
                                <tr>
                                    <th class="bg-primary col-hostname">
                                        <span class="th-divider-left">Hostname</span>
                                        <span class="th-divider-right"></span>
                                    </th>
                                    <th class="bg-primary col-management-ip">
                                        <span class="th-divider-left">Management IP</span>
                                        <span class="th-divider-right"></span>
                                    </th>
                                    <th class="bg-primary col-hw-platform">
                                        <span class="th-divider-left">HW платформа</span>
                                    </th>
                                    <th class="bg-primary col-software">
                                        <span class="th-divider-left">Software</span>
                                        <span class="th-divider-right"></span>
                                    </th>
                                    <th class="bg-primary col-port-type">
                                        <span class="th-divider-left">Тип порта</span>
                                    </th>
                                    <th class="bg-primary col-port-number">
                                        <span class="th-divider-left">Номер порта</span>
                                    </th>
                                    <th class="bg-primary col-pstn-numbers">
                                        <span class="th-divider-left">PSTN номера</span>
                                    </th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td rowspan="2">Lorem ipsum.</td>
                                    <td rowspan="2"><a href="#">192.168.1.1/24</a></td>
                                    <td rowspan="2">Cisco 2801</td>
                                    <td rowspan="2">IOS 15.04 adv ent</td>
                                    <td>FXO</td>
                                    <td>1/3</td>
                                    <td><a href="#">8452-88-99-44</a></td>
                                </tr>
                                <tr>
                                    <td>FXO</td>
                                    <td>1/1</td>
                                    <td><a href="#">8452-88-99-44</a></td>
                                </tr>
                                </tbody>
                                <tbody>
                                <tr>
                                    <td rowspan="3">Lorem ipsum.</td>
                                    <td rowspan="3"><a href="#">192.168.1.1/24</a></td>
                                    <td rowspan="3">Cisco 2801</td>
                                    <td rowspan="3">IOS 15.04 adv ent</td>
                                    <td>FXO</td>
                                    <td>1/0</td>
                                    <td><a href="#">8452-88-99-44</a></td>
                                </tr>
                                <tr>
                                    <td>Е1</td>
                                    <td>1/0/1</td>
                                    <td><a href="#">12 номеров</a></td>
                                </tr>
                                <tr>
                                    <td>Trunk Group Е1</td>
                                    <td class="col-port-number cut-string">1/0/1, 1/0/2, 1/0/2, 1/0/2, 1/0/2, 1/0/2,
                                    </td>
                                    <td><a href="#">100 номеров</a></td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                        <!--Панель PSTN номеров-->
                        <div class="tab-pane" role="tabpanel" id="pstn">
                            <table class="table table-bordered cust-table-striped">
                                <thead>
                                <tr>
                                    <th class="bg-primary col-hostname">
                                        <span class="th-divider-left">Номер</span>
                                        <span class="th-divider-right"></span>
                                    </th>
                                    <th class="bg-primary col-management-ip">
                                        <span class="th-divider-left">Провайдер</span>
                                        <span class="th-divider-right"></span>
                                    </th>
                                    <th class="bg-primary col-hw-platform">
                                        <span class="th-divider-left">Договор</span>
                                    </th>
                                    <th class="bg-primary col-hw-platform">
                                        <span class="th-divider-left">Тип услуги</span>
                                    </th>
                                    <th class="bg-primary col-software">
                                        <span class="th-divider-left">Контакты</span>
                                        <span class="th-divider-right"></span>
                                    </th>
                                    <th class="bg-primary col-port-type">
                                        <span class="th-divider-left">Комментарий</span>
                                    </th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td rowspan="2">8452-99-00-55</td>
                                    <td>СуперТел</td>
                                    <td>ЮР-1234-44</td>
                                    <td>Местная связь</td>
                                    <td>
                                        <button class="btn btn-success btn-xs" type="button" role="button"
                                                aria-controls="show-contact" value="open">Показать
                                        </button>
                                    </td>
                                    <td class="col-comment cut-string" rowspan="2">Lorem ipsum dolor sit amet,
                                        consectetur adipisicing elit. Nostrum!
                                    </td>
                                </tr>
                                <tr>
                                    <td>СуперТел</td>
                                    <td>ЮР-1234-44</td>
                                    <td>МГ</td>
                                    <td>
                                        <button class="btn btn-success btn-xs" type="button" role="button"
                                                aria-controls="show-contact" value="open">Показать
                                        </button>
                                    </td>
                                </tr>
                                </tbody>
                                <tbody>
                                <tr>
                                    <td>8452-88-99-44</td>
                                    <td>ТК Диалог</td>
                                    <td>5326-Д1</td>
                                    <td>Местная, ММГ, МН</td>
                                    <td>
                                        <button class="btn btn-success btn-xs" type="button" role="button"
                                                aria-controls="show-contact" value="open">Показать
                                        </button>
                                    </td>
                                    <td class="col-comment cut-string">Lorem ipsum dolor sit amet, consectetur
                                        adipisicing elit. Nostrum!
                                    </td>
                                </tr>
                                </tbody>
                                <tbody>
                                <tr>
                                    <td>8452-88-99-44</td>
                                    <td>ТК Диалог</td>
                                    <td>5326-Д1</td>
                                    <td>Местная, ММГ, МН</td>
                                    <td>
                                        <button class="btn btn-success btn-xs" type="button" role="button"
                                                aria-controls="show-contact" value="open">Показать
                                        </button>
                                    </td>
                                    <td class="col-comment cut-string">Lorem ipsum dolor sit amet, consectetur
                                        adipisicing elit. Nostrum!
                                    </td>
                                </tr>
                                </tbody>
                                <tbody>
                                <tr>
                                    <td>8452-88-99-44</td>
                                    <td>ТК Диалог</td>
                                    <td>5326-Д1</td>
                                    <td>Местная, ММГ, МН</td>
                                    <td>
                                        <button class="btn btn-success btn-xs" type="button" role="button"
                                                aria-controls="show-contact" value="open">Показать
                                        </button>
                                    </td>
                                    <td class="col-comment cut-string">Lorem ipsum dolor sit amet, consectetur
                                        adipisicing elit. Nostrum!
                                    </td>
                                </tr>
                                </tbody>
                                <tbody>
                                <tr>
                                    <td rowspan="3">8452-99-00-55</td>
                                    <td>СуперТел</td>
                                    <td>ЮР-1234-44</td>
                                    <td>Местная</td>
                                    <td>
                                        <button class="btn btn-success btn-xs" type="button" role="button"
                                                aria-controls="show-contact" value="open">Показать
                                        </button>
                                    </td>
                                    <td class="col-comment cut-string" rowspan="3">Lorem ipsum dolor sit amet,
                                        consectetur adipisicing elit. Nostrum!
                                    </td>
                                </tr>
                                <tr>
                                    <td>СуперТел</td>
                                    <td>ЮР-1234-44</td>
                                    <td>МН</td>
                                    <td>
                                        <button class="btn btn-success btn-xs" type="button" role="button"
                                                aria-controls="show-contact" value="open">Показать
                                        </button>
                                    </td>
                                </tr>
                                <tr>
                                    <td>МГ контора</td>
                                    <td>ЮР-555А-рр</td>
                                    <td>МГ</td>
                                    <td>
                                        <button class="btn btn-success btn-xs" type="button" role="button"
                                                aria-controls="show-contact" value="open">Показать
                                        </button>
                                    </td>
                                </tr>
                                </tbody>
                                <tbody>
                                <tr>
                                    <td rowspan="3">8452-99-00-55</td>
                                    <td>СуперТел</td>
                                    <td>ЮР-1234-44</td>
                                    <td>Местная</td>
                                    <td>
                                        <button class="btn btn-success btn-xs" type="button" role="button"
                                                aria-controls="show-contact" value="open">Показать
                                        </button>
                                    </td>
                                    <td class="col-comment cut-string" rowspan="3">Lorem ipsum dolor sit amet,
                                        consectetur adipisicing elit. Nostrum!
                                    </td>
                                </tr>
                                <tr>
                                    <td>СуперТел</td>
                                    <td>ЮР-1234-44</td>
                                    <td>МН</td>
                                    <td>
                                        <button class="btn btn-success btn-xs" type="button" role="button"
                                                aria-controls="show-contact" value="open">Показать
                                        </button>
                                    </td>
                                </tr>
                                <tr>
                                    <td>МГ контора</td>
                                    <td>ЮР-555А-рр</td>
                                    <td>МГ</td>
                                    <td>
                                        <button class="btn btn-success btn-xs" type="button" role="button"
                                                aria-controls="show-contact" value="open">Показать
                                        </button>
                                    </td>
                                </tr>
                                </tbody>
                                <tbody>
                                <tr>
                                    <td rowspan="3">8452-99-00-55</td>
                                    <td>СуперТел</td>
                                    <td>ЮР-1234-44</td>
                                    <td>Местная</td>
                                    <td>
                                        <button class="btn btn-success btn-xs" type="button" role="button"
                                                aria-controls="show-contact" value="open">Показать
                                        </button>
                                    </td>
                                    <td class="col-comment cut-string" rowspan="3">Lorem ipsum dolor sit amet,
                                        consectetur adipisicing elit. Nostrum!
                                    </td>
                                </tr>
                                <tr>
                                    <td>СуперТел</td>
                                    <td>ЮР-1234-44</td>
                                    <td>МН</td>
                                    <td>
                                        <button class="btn btn-success btn-xs" type="button" role="button"
                                                aria-controls="show-contact" value="open">Показать
                                        </button>
                                    </td>
                                </tr>
                                <tr>
                                    <td>МГ контора</td>
                                    <td>ЮР-555А-рр</td>
                                    <td>МГ</td>
                                    <td>
                                        <button class="btn btn-success btn-xs" type="button" role="button"
                                                aria-controls="show-contact" value="open">Показать
                                        </button>
                                    </td>
                                </tr>
                                </tbody>
                                <tbody>
                                <tr>
                                    <td rowspan="3">8452-99-00-55</td>
                                    <td>СуперТел</td>
                                    <td>ЮР-1234-44</td>
                                    <td>Местная</td>
                                    <td>
                                        <button class="btn btn-success btn-xs" type="button" role="button"
                                                aria-controls="show-contact" value="open">Показать
                                        </button>
                                    </td>
                                    <td class="col-comment cut-string" rowspan="3">Lorem ipsum dolor sit amet,
                                        consectetur adipisicing elit. Nostrum!
                                    </td>
                                </tr>
                                <tr>
                                    <td>СуперТел</td>
                                    <td>ЮР-1234-44</td>
                                    <td>МН</td>
                                    <td>
                                        <button class="btn btn-success btn-xs" type="button" role="button"
                                                aria-controls="show-contact" value="open">Показать
                                        </button>
                                    </td>
                                </tr>
                                <tr>
                                    <td>МГ контора</td>
                                    <td>ЮР-555А-рр</td>
                                    <td>МГ</td>
                                    <td>
                                        <button class="btn btn-success btn-xs" type="button" role="button"
                                                aria-controls="show-contact" value="open">Показать
                                        </button>
                                    </td>
                                </tr>
                                </tbody>
                                <tbody>
                                <tr>
                                    <td rowspan="3">8452-99-00-55</td>
                                    <td>СуперТел</td>
                                    <td>ЮР-1234-44</td>
                                    <td>Местная</td>
                                    <td>
                                        <button class="btn btn-success btn-xs" type="button" role="button"
                                                aria-controls="show-contact" value="open">Показать
                                        </button>
                                    </td>
                                    <td class="col-comment cut-string" rowspan="3">Lorem ipsum dolor sit amet,
                                        consectetur adipisicing elit. Nostrum!
                                    </td>
                                </tr>
                                <tr>
                                    <td>СуперТел</td>
                                    <td>ЮР-1234-44</td>
                                    <td>МН</td>
                                    <td>
                                        <button class="btn btn-success btn-xs" type="button" role="button"
                                                aria-controls="show-contact" value="open">Показать
                                        </button>
                                    </td>
                                </tr>
                                <tr>
                                    <td>МГ контора</td>
                                    <td>ЮР-555А-рр</td>
                                    <td>МГ</td>
                                    <td>
                                        <button class="btn btn-success btn-xs" type="button" role="button"
                                                aria-controls="show-contact" value="open">Показать
                                        </button>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                        <!--Резерв-->
                        <div class="tab-pane" role="tabpanel" id="other">
                            Settings
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


{% endblock %}