{% extends 'Index.html' %}

{% block main %}
    <div class="row">
        <main class="devices">
            <div class="col-xs-12">
                <table id="fixed-header" class="bg-default table table-condensed table-bordered cust-table-striped no-cut-long-text">
                    <thead>

                    <tr class="text-middle text-center">
                        <th class="bg-primary">Офис</th>
                        <th class="bg-primary col-15">Оборудование</th>
                        <th class="bg-primary col-20">ПО</th>
                        <th class="bg-primary col-10">hostname</th>
                        <th class="bg-primary col-30">IP / Port Name / Description</th>
                        <th class="bg-primary col-10">Действия</th>
                    </tr>
                    </thead>
                    <tbody>

                    {% for office in offices %}
                        {% for appliance in office.appliances %}
                                <tr>
                                    {#Office#}
                                    <td>{{ office.title }}</td>
                                    {#Device#}
                                    <td >
                                        <span class="pull-right">
                                            <span class="lastUpdate" data-last-update-utc="{{ appliance.lastUpdateDateTime }} UTC"></span>
                                            <div>
                                                <a class="btn btn-success btn-xs btn-custom pull-right" href="/modal/addDataPort?id={{ appliance.getPK }}" role="button" data-action="get-popup"><span class="glyphicon glyphicon-plus" aria-hidden="true" title="добавить порт"></span></a>
                                            </div>

                                        </span>
                                        {{ appliance.platform.platform.vendor.title }} {{ appliance.platform.platform.title }}
                                    </td>
                                    {#Software#}
                                    <td>{{ appliance.software.software.title }} {{ appliance.software.version }}</td>
                                    {#Hostname#}
                                    <td>{{ appliance.details.hostname }}</td>
                                    {#IP#}
                                    <td class="cell-container">
                                        <table class="inner table table-bordered">
                                            <tbody>
                                            {% for dataport in appliance.dataPorts %}
                                                <tr>
                                                    <td class="col-40">{{ dataport.ipAddress }}
                                                        {% if dataport.isManagement %}
                                                            <div class="pull-right">
                                                                <span ><a href="ssh://{{ appliance.getManagementIp }}" >[ssh]</a></span>
                                                            </div>
                                                        {% endif %}
                                                    </td>
                                                    <td class="col-30">{{ dataport.details.portName }}</td>
                                                    <td class="col-30">{{ dataport.comment }}</td>
                                                </tr>
                                            {% endfor %}

                                            </tbody>
                                        </table>
                                    </td>

                                    {#Port Name#}
                                    {#<td>#}
                                        {#{% for dataport in appliance.dataPorts %}#}
                                            {#{{ dataport.details.portName }}#}
                                        {#{% endfor %}#}
                                    {#</td>#}
                                    {#Port Comment#}
                                    {#<td>#}
                                        {#{% for dataport in appliance.dataPorts %}#}
                                            {#{{ dataport.comment }}#}
                                        {#{% endfor %}#}
                                    {#</td>#}

                                    {#Action#}
                                    <td class="text-center">
                                        {%  if appliance.dataPorts.count > 0 %}
                                                <a class="btn btn-success btn-xs" href="/modal/editDataPort?portId={{ appliance.dataPorts.first.getPK }}&deviceId={{ appliance.getPK }} "
                                                   role="button" data-action="get-popup"><span class="glyphicon glyphicon-pencil" aria-hidden="true" title="редактировать порт"></span></a>
                                                <a class="btn btn-danger btn-xs" href="/admin/delDataPort?portId={{ appliance.dataPorts.first.getPK }}&deviceId={{ appliance.getPK }} " role="button"
                                                   data-action="delete"><span class="glyphicon glyphicon-trash" aria-hidden="true" title="удалить порт"></span></a>
                                        {% endif %}
                                    </td>
                                </tr>
                        {% endfor %}
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </main>
    </div>
{% endblock %}

