{% extends 'Index.html' %}

{% block main %}
    <div class="row">
        <main class="devices">
            <div class="col-xs-12">
                <table class="table table-bordered cust-table-striped">
                    <thead>
                        <tr class="text-middle text-center">
                            <th class="bg-primary col-office" rowspan="2">Офис</th>
                            <th class="bg-primary col-hardware" rowspan="2">Оборудование</th>
                            <th class="bg-primary col-software" rowspan="2">ПО</th>
                            <th class="bg-primary col-software" rowspan="2">hostname</th>
                            <th class="bg-primary col-port" colspan="3">Порты</th>
                            <th class="bg-primary col-actions" rowspan="2">Действия</th>
                        </tr>
                        <tr class="text-center">
                            <th class="bg-primary col-port-type">Тип</th>
                            <th class="bg-primary col-port-type">MAC</th>
                            <th class="bg-primary col-port-type">IP</th>
                        </tr>
                    </thead>

                    {% for office in offices %}
                        {% for appliance in office.appliances %}
                            <tbody>
                                <tr>
                                    <td rowspan="{{ appliance.dataPorts.count }}">{{ office.title }}</td>
                                    <td rowspan="{{ appliance.dataPorts.count }}">
                                        {{ appliance.platform.platform.vendor.title }} {{ appliance.platform.platform.title }}
                                        <a class="btn btn-success btn-xs btn-custom pull-right" href="/modal/addDataPort?id={{ appliance.getPK }}" role="button" data-action="get-popup"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> IP порт</a>
                                    </td>
                                    <td rowspan="{{ appliance.dataPorts.count }}">{{ appliance.software.software.title }}</td>
                                    <td rowspan="{{ appliance.dataPorts.count }}">{{ appliance.details.hostname }}</td>
                                    <td>{{ appliance.dataPorts.first.portType.type }}</td>
                                    <td>{{ appliance.dataPorts.first.macAddress }}</td>
                                    <td>{{ appliance.dataPorts.first.ipAddress }}</td>
                                    <td>
                                        {%  if appliance.dataPorts.count > 0 %}
                                            <div class="pull-right">
                                                <a class="btn btn-success btn-xs" href="/modal/editDataPort?portId={{ appliance.dataPorts.first.getPK }}&deviceId={{ appliance.getPK }} "
                                                   role="button" data-action="get-popup">
                                                    Изменить
                                                </a>
                                                <a class="btn btn-danger btn-xs" href="/admin/delDataPort?portId={{ port.getPK }}&deviceId={{ appliance.getPK }} " role="button"
                                                   data-action="delete">
                                                    Удалить
                                                </a>
                                            </div>
                                        {% endif %}
                                    </td>
                                </tr>
                            {% for port in appliance.dataPorts|slice(1) %}
                                <tr>
                                    <td>{{ port.portType.type }}</td>
                                    <td>{{ port.macAddress }}</td>
                                    <td>{{ port.ipAddress }}</td>
                                    <td>
                                        <div class="pull-right">
                                            <a class="btn btn-success btn-xs" href="/modal/editDataPort?portId={{ port.getPK }}&deviceId={{ appliance.getPK }} "
                                               role="button" data-action="get-popup">
                                                Изменить
                                            </a>
                                            <a class="btn btn-danger btn-xs" href="/admin/delDataPort?portId={{ port.getPK }}&deviceId={{ appliance.getPK }} " role="button"
                                               data-action="delete">
                                                Удалить
                                            </a>
                                        </div>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        {% endfor %}
                    {% endfor %}
                </table>
            </div>
        </main>
    </div>
{% endblock %}

