{% extends 'IndexAgGrid.html' %}

{% block main %}
    <div class="form-group">
        <label for="cucmsIp" class="col-sm-2 col-form-label col-form-label-sm">Cucm IP: </label>
        <div class="col-sm-10">
            <select id="cucmsIp" class="form-control form-control-sm"></select>
        </div>
    </div>

    <div class="form-group" style="margin-top: 40px">
        <label for="callForwardingNumber" class="col-sm-2 col-form-label col-form-label-sm">Call forwarding number: </label>
        <div class="col-sm-10">
            <input type="text" id="callForwardingNumber" value="" class="form-control form-control-sm">
        </div>
    </div>

    <button onclick="redirectedPhonesFromCucmWithCallForwardingNumber()" class="btn btn-primary">Get Phones</button>
    <div id="statusBar" style="text-align: center; font-weight: bold"></div>
    <hr>
    <div id="myGrid" style="height: 450px;width: 100%;" class="ag-theme-balham-dark"></div>
{% endblock %}

{% block JS %}
    <script type="text/javascript" charset="utf-8">

        // specify the columns
        var columnDefs = [
            {headerName: "Cucm", field: "cucm", sortable: true, filter: true},
            {headerName: "Prefix", field: "phprefix", sortable: true, filter: true},
            {headerName: "DN", field: "phonedn", sortable: true, filter: true},
            {headerName: "f_all", field: "forwardall", sortable: true, filter: false},
            {headerName: "f_all_mail", field: "forward_all_mail", sortable: true, filter: false},
            {headerName: "f_busy_internal", field: "forwardbusyinternal", sortable: true, filter: false},
            {headerName: "f_busy_external", field: "forwardbusyexternal", sortable: true, filter: false},
            {headerName: "f_no_answer_internal", field: "forward_no_answer_internal", sortable: true, filter: false},
            {headerName: "f_no_answer_external", field: "forward_no_answer_external", sortable: true, filter: false},
            {headerName: "f_unregistred_internal", field: "forward_unregistred_internal", sortable: true, filter: false},
            {headerName: "f_unregistred_external", field: "forward_unregistred_external", sortable: true, filter: false},
            {headerName: "Device", field: "device", sortable: true, filter: true},
            {headerName: "Description", field: "depiction", sortable: true, filter: true},
            {headerName: "CSS", field: "css", sortable: true, filter: true},
            {headerName: "Device Pool", field: "devicepool", sortable: true, filter: true},
            {headerName: "Alerting Name", field: "alertingname", sortable: true, filter: true},
            {headerName: "CFNA Duration", field: "cfnaduration", sortable: true, filter: true},
            {headerName: "Model", field: "model", sortable: true, filter: true},
            {headerName: "Partition", field: "partition", sortable: true, filter: true},
            {headerName: "Last Update", field: "lastUpdate", sortable: true, filter: false},
        ];

        // specify the data
        var rowData = [
            // {cucm: "...", phprefix: "...", phonedn: ..., ........},
        ];

        // let the grid know which columns and what data to use
        var gridOptions = {
            columnDefs: columnDefs,
            enableCellTextSelection: true,
            rowSelection: 'multiple'
        };

        // lookup the container we want the Grid to use
        var eGridDiv = document.querySelector('#myGrid');

        // create the grid passing in the div to use together with the columns & data we want to use
        new agGrid.Grid(eGridDiv, gridOptions);

        function initCucmsIp() {
            agGrid
                .simpleHttpRequest({url: "{{ cucmsUrl }}"})
                .then(
                    function(cucmsIp) {
                        if (Array.isArray(cucmsIp)) {
                            let cucmsIpOptions = document.querySelector("#cucmsIp").options;
                            let defaultOption = document.createElement("option");
                            cucmsIpOptions.add(defaultOption);
                            cucmsIp.forEach(
                                cucmIp => {
                                    let option = document.createElement("option");
                                    option.text = cucmIp;
                                    cucmsIpOptions.add(option);
                                }
                            )
                        }
                    }
                );
        }
        initCucmsIp();

        function redirectedPhonesFromCucmWithCallForwardingNumber() {
            document.querySelector('#statusBar').innerHTML = "Запрос...";
            gridOptions.api.setRowData([]);

            let callForwardingNumber = document.querySelector("#callForwardingNumber").value;
            let cucmIp = document.querySelector("#cucmsIp").value;
            let reqUrl = "{{ baseUrl }}" + "/fromCucmWithCallForwardingNumber?cucmIp=" + cucmIp + "&callForwardingNumber=" + callForwardingNumber;
            if (cucmIp === '') {
                document.querySelector('#statusBar').innerHTML = "Выберите Cucm !!!";
                return;
            }
            agGrid
                .simpleHttpRequest({url: reqUrl})
                .then(
                    function(data) {
                        document.querySelector('#statusBar').innerHTML =
                            (data.hasOwnProperty('error'))
                                ? ("<span>" + data.error + "</span>")
                                : ("<span>Кол-во телефонов с \"" + callForwardingNumber + "\" переадресацией - " + data.length + "</span>")
                        ;
                        gridOptions.api.setRowData(
                            (data.hasOwnProperty('error')) ? [] : data
                        );
                    }
                );
        }

    </script>
{% endblock %}
