{% extends 'IndexAgGrid.html' %}

{% block main %}
    <div class="form-group">
        <label for="cucm" class="col-sm-2 col-form-label col-form-label-sm">Cucm: </label>
        <div class="col-sm-10">
            <select id="cucm" class="form-control form-control-sm"></select>
        </div>
    </div>

    <div class="form-group" style="margin-top: 40px">
        <label for="callForwardingNumber" class="col-sm-2 col-form-label col-form-label-sm">Call forwarding number: </label>
        <div class="col-sm-10">
            <input type="text" id="callForwardingNumber" value="" class="form-control form-control-sm">
            <div style="margin-top: 2px">
                <input type="checkbox" id="containsSearchTypeCheck" class="form-check-input" checked>
                <label for="containsSearchTypeCheck" class="col-form-label col-form-label-lg">тип запроса (Contains): </label>
            </div>
        </div>
    </div>

    <button onclick="redirectedPhonesFromCucmWithCallForwardingNumber()" class="btn btn-primary">Get Phones</button>
    <div id="statusBar" style="text-align: center; font-weight: bold"></div>
    <hr>
    <div id="myGrid" style="height: 450px;width: 100%;" class="ag-theme-balham-dark"></div>
{% endblock %}

{% block JS %}
    <script type="text/javascript" charset="utf-8">

        // specify the columns
        var columnDefs = [
            {headerName: "Prefix", field: "phprefix", sortable: true, filter: true},
            {headerName: "DN", field: "phonedn", sortable: true, filter: true},
            {headerName: "f_all", field: "forwardall", sortable: true, filter: true},
            {headerName: "f_all_mail", field: "forward_all_mail", sortable: true, filter: true},
            {headerName: "f_busy_internal", field: "forwardbusyinternal", sortable: true, filter: true},
            {headerName: "f_busy_external", field: "forwardbusyexternal", sortable: true, filter: true},
            {headerName: "f_no_answer_internal", field: "forward_no_answer_internal", sortable: true, filter: true},
            {headerName: "f_no_answer_external", field: "forward_no_answer_external", sortable: true, filter: true},
            {headerName: "f_unregistred_internal", field: "forward_unregistred_internal", sortable: true, filter: true},
            {headerName: "f_unregistred_external", field: "forward_unregistred_external", sortable: true, filter: true},
            {headerName: "Device", field: "device", sortable: true, filter: true},
            {headerName: "Description", field: "depiction", sortable: true, filter: true},
            {headerName: "CSS", field: "css", sortable: true, filter: true},
            {headerName: "Device Pool", field: "devicepool", sortable: true, filter: true},
            {headerName: "Alerting Name", field: "alertingname", sortable: true, filter: true},
            {headerName: "CFNA Duration", field: "cfnaduration", sortable: true, filter: true},
            {headerName: "Model", field: "model", sortable: true, filter: true},
            {headerName: "Partition", field: "partition", sortable: true, filter: true},
            {headerName: "Last Update", field: "lastUpdate", sortable: true, filter: true},
        ];

        // specify the data
        var rowData = [
            // {cucm: "...", phprefix: "...", phonedn: ..., ........},
        ];

        // let the grid know which columns and what data to use
        var gridOptions = {
            columnDefs: columnDefs,
            enableCellTextSelection: true,
            rowSelection: 'multiple'
        };

        // lookup the container we want the Grid to use
        var eGridDiv = document.querySelector('#myGrid');

        // create the grid passing in the div to use together with the columns & data we want to use
        new agGrid.Grid(eGridDiv, gridOptions);

        var cucmsMap = {};
        const cucmPrompt = "Выберите Cucm ...";

        function initCucms() {
            agGrid
                .simpleHttpRequest({url: "{{ cucmsUrl }}"})
                .then(
                    function(cucmsData) {
                        cucmsMap = cucmsData;
                        let selectPrompt = document.createElement("option");
                        selectPrompt.selected = true;
                        selectPrompt.text = cucmPrompt;
                        let cucms = document.querySelector("#cucm").options;
                        cucms.add(selectPrompt);
                        for (let key in cucmsData) {
                            let cucm = document.createElement("option");
                            cucm.text = key;
                            cucms.add(cucm);
                        }
                    }
                );
        }
        initCucms();

        function redirectedPhonesFromCucmWithCallForwardingNumber() {
            document.querySelector('#statusBar').innerHTML = "Запрос ...";
            gridOptions.api.setRowData([]);

            let cucm = document.querySelector("#cucm").value;
            if (cucm === cucmPrompt) {
                document.querySelector('#statusBar').innerHTML = "Выберите Cucm !!!";
                return;
            }
            let cucmIp = cucmsMap[cucm];
            let callForwardingNumber = document.querySelector("#callForwardingNumber").value;
            let containsSearchTypeCheck = document.querySelector("#containsSearchTypeCheck").checked;
            let reqUrl = "{{ baseUrl }}" + "/fromCucmWithCallForwardingNumber?cucmIp=" + cucmIp + "&callForwardingNumber=" + callForwardingNumber + "&containsSearchType=" + (containsSearchTypeCheck ? 1 : 0);
            agGrid
                .simpleHttpRequest({url: reqUrl})
                .then(
                    function(data) {
                        document.querySelector('#statusBar').innerHTML =
                            (data.hasOwnProperty('error'))
                                ? ("<span>" + data.error + "</span>")
                                : ("<span>Кол-во телефонов с \"" + callForwardingNumber + "\" переадресацией - " + data.length + "</span>")
                        ;
                        gridOptions.api.setRowData(
                            (data.hasOwnProperty('error')) ? [] : data
                        );
                    }
                );
        }

    </script>
{% endblock %}
