<thead>
<tr>
    <th id={{ columns.cucm.th_id|trim('#') }} class="text-left">{{ columns.cucm.name }}</th>
    <th id={{ columns.phprefix.th_id|trim('#') }}>{{ columns.phprefix.name }}</th>
    <th id={{ columns.phonedn.th_id|trim('#') }}>{{ columns.phonedn.name }}</th>
    <th id={{ columns.forwardall.th_id|trim('#') }}>{{ columns.forwardall.name }}</th>
    <th id={{ columns.forward_all_mail.th_id|trim('#') }} title="forward_all_mail">{{ columns.forward_all_mail.name }}</th>
    <th id={{ columns.forwardbusyinternal.th_id|trim('#') }} title="forward_busy_internal">{{ columns.forwardbusyinternal.name }}</th>
    <th id={{ columns.forwardbusyexternal.th_id|trim('#') }} title="forward_busy_external">{{ columns.forwardbusyexternal.name }}</th>
    <th id={{ columns.forward_no_answer_internal.th_id|trim('#') }} title="forward_no_answer_internal">{{ columns.forward_no_answer_internal.name }}</th>
    <th id={{ columns.forward_no_answer_external.th_id|trim('#') }} title="forward_no_answer_external">{{ columns.forward_no_answer_external.name }}</th>
    <th id={{ columns.forward_unregistred_internal.th_id|trim('#') }} title="forward_unregistred_internal">{{ columns.forward_unregistred_internal.name }}</th>
    <th id={{ columns.forward_unregistred_external.th_id|trim('#') }} title="forward_unregistred_external">{{ columns.forward_unregistred_external.name }}</th>
    <th id={{ columns.device.th_id|trim('#') }}>{{ columns.device.name }}</th>
    <th id={{ columns.depiction.th_id|trim('#') }}>{{ columns.depiction.name }}</th>
    <th id={{ columns.css.th_id|trim('#') }}>{{ columns.css.name }}</th>
    <th id={{ columns.devicepool.th_id|trim('#') }}>{{ columns.devicepool.name }}</th>
    <th id={{ columns.alertingname.th_id|trim('#') }}>{{ columns.alertingname.name }}</th>
    <th id={{ columns.cfnaduration.th_id|trim('#') }} title="CFNA Duration">{{ columns.cfnaduration.name }}</th>
    <th id={{ columns.model.th_id|trim('#') }}>{{ columns.model.name }}</th>
    <th id={{ columns.partition.th_id|trim('#') }}>{{ columns.partition.name }}</th>
    <th id={{ columns.lastUpdate.th_id|trim('#') }}>{{ columns.lastUpdate.name }}</th>
</tr>
</thead>
