<thead>
<tr>
    <th id={{ columns.region.th_id|trim('#') }} class="text-left">
        {{ columns.region.name }}
    </th>
    <th id={{ columns.office.th_id|trim('#') }}>{{ columns.office.name }}</th>
    <th id={{ columns.hostname_dn.th_id|trim('#') }}>{{ columns.hostname_dn.name }}</th>
    <th id={{ columns.appType.th_id|trim('#') }}>{{ columns.appType.name }}</th>
    <th id={{ columns.platformTitle.th_id|trim('#') }}>
        {% if user.permissions.addEmptyAppliance %}
            <a class="btn btn-success btn-xs btn-custom pull-left" href="/modal/addAppliance" role="button"
               data-action="get-popup" title="добавить устройство"><span class="glyphicon glyphicon-plus"
                                                                         aria-hidden="true"></span></a>
        {% endif %}
        {{ columns.platformTitle.name }}
    </th>
    <th id={{ columns.softwareAndVersion.th_id|trim('#') }}>{{ columns.softwareAndVersion.name }}</th>
    <th id={{ columns.module.th_id|trim('#') }}>{{ columns.module.name }}</th>
    <th id={{ columns.data_port.th_id|trim('#') }}>{{ columns.data_port.name }}</th>
    <th id={{ columns.action.th_id|trim('#') }}>{{ columns.action.name }}</th>
</tr>
</thead>
