{% extends 'IndexDev2.html' %}

{% block main %}
    <div class="row">
        <div class="col-xs-12">
            <table id="dev_tab">
                <thead>
                <tr>
                    <th></th>
                </tr>
                </thead>
            </table>
        </div>
    </div>

{% endblock %}



{% block JS %}
    <script>
        tableSettings = {
            dataUrl: "/device/devicesTable.json",
            width: '100',
            header: {
                tableClasses: "bg-primary table-bordered",
                columns: {
                    region: {name: 'Регион', width: 10, sortable: true, filterable: true},
                    office: {id: 'office', name: 'Офис', width: 15, sortable: true, filterable: true, class: "text-left"},
                    hostname: {id: 'hostname', name: 'Hostname', width: 10, sortable: true, filterable: true},
                    appType: {id: 'app-type', name: 'Тип', width: "45px", sortable: true, filterable: true},
                    appliance: {id: 'appliance', name: 'Оборудование', width: 20},
                    soft: {id: 'soft', name: 'ПО', width: 15, sortable: true, filterable: true},
                    module: {id: 'module', name: 'Модуль', width: 15, sortable: true, filterable: true},
                    data_port: {id: 'dport', name: 'Интерфейсы', width: 15, filterable: true},
                    {% if not user.readOnly %}
                    action: {id: 'action', name: 'Действия', width: '105px'}
                    {% endif %}
                }
            },
            pager: {
                rowsOnPage: 50,
                rowList: [10,20,50,100,200,"все"]
            }
        };

        jQuery(function ($) {
            APP = APP || {};
//            APP.devTableFilter = {appTypes: 'netDevices'};
            APP.devTableFilter = {appTypes: 'all'};

            var params = {};
//            params.url = '/device/info?ven=8&pl=56';
//            params.url = '/admin/devices?ven=8&pl=66';
            if (window.location.search.length > 1) {
                params.extUrl = window.location.href;
            }
            var devTable = $("#dev_tab");
            devTable.jqTable(tableSettings).jqTable('updateBodyContent');



//            var workSet = devTable.jqTable('getWorkSet');
//            //устанавливаем начальный фильтр по девайсам
//            workSet.params.filters =  APP.devTableFilter;
//            devTable.jqTable('updateBodyJSON', workSet, params);
//
//            //обработчик клика по ссылкам
//            var onLinkClickHandler = function () {
//                var href;
//                if (href = $(event.target).attr('href')) {
//                    if (href.indexOf(':') > 0) {
//                        //если нашли двоеточие - значит полный url - надо переходит по нему
//                        return;
//                    }
//                    event.preventDefault();
//                    params = workSet.params;
//                    params.url = href;
//                    devTable.jqTable('updateBodyJSON', workSet, params);
//                }
//            };
//            workSet.bodyObj.on(
//                'click',
//                workSet,
//                onLinkClickHandler
//            );
        });
    </script>
    <script>
        var APP = APP || {};
    </script>
{% endblock %}