{% extends 'IndexDev.html' %}

{% block main %}
    <div class="row">
        <div class="col-xs-12">
            <table id="dev_tab">
                <thead>
                <tr>
                    <th></th>
                </tr>
                </thead>
            </table>
        </div>
    </div>

{% endblock %}



{% block JS %}
    <script id="dev_tab_tmpl" type="text/x-jsrender">
    <table>
        #{if header}#
        <thead>
            #{for header}#
            <tr>
                <th id=#{:region.id}# class="text-left">#{:region.name}#</th>
                <th id=#{:office.id}#>#{:office.name}#</th>
                <th id=#{:hostname.id}#>#{:hostname.name}#</th>
                <th id=#{:appType.id}#>#{:appType.name}#</th>
                <th id=#{:appliance.id}#>#{:appliance.name}#
                {% if user.permissions.addEmptyAppliance %}
                <a class="btn btn-success btn-xs btn-custom pull-right" href="/modal/addAppliance" role="button" data-action="get-popup" title="добавить устройство"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span></a>
                {% endif %}
                </th>
                <th id=#{:soft.id}#>#{:soft.name}#</th>
                <th id=#{:module.id}#>#{:module.name}#</th>
                <th id=#{:data_port.id}#>#{:data_port.name}#</th>
                {% if not user.readOnly %}
                <th id=#{:action.id}#>#{:action.name}#</th>
                {% endif %}
            </tr>
            #{/for}#
        </thead>
        #{/if}#

        #{if body}#
        <tbody>
            #{for body}#
            <tr>
                <td><a href="#">#{:region}#</a></td>
                <td><a href="#">#{:office}#</a></td>
                <td><a href="#">#{:office}#</a></td>
                <td><a href="#">#{:appType}#</a></td>
                <td><a href="#">#{:platformVendor}# #{:platformTitle}#</a></td>
                <td>#{:softwareTitle}#</td>
                <td>
                #{if moduleInfo}#
                    #{* data.moduleInfo = $.parseJSON(data.moduleInfo) }#
                    #{for moduleInfo}#
                    #{:description}#
                    #{/for}#
                #{/if}#
                </td>
                <td>интерфейсы</td>
                {% if not user.permissions.readOnly %}
                <td>
                    <a class="btn btn-info btn-xs" href="/modal/infoAppliance?id=#{:appliance_id}#" role="button" data-action="get-popup"><span class="glyphicon glyphicon-info-sign" aria-hidden="true" title="подробная информация"></span></a>
                #{if appliance_id}#
                    <a class="btn btn-success btn-xs" href="/modal/editAppliance?id=#{:appliance_id}#" role="button" data-action="get-popup"><span class="glyphicon glyphicon-pencil" aria-hidden="true" title="редактировать устройство"></span></a>
                {% if user.permissions.delAppliance %}
                    <a class="btn btn-danger btn-xs" href="/admin/delAppliance?id=#{:appliance_id}#" role="button" data-action="delete"><span class="glyphicon glyphicon-trash" aria-hidden="true" title="удалить устройство"></span></a>
                {% endif %}
                #{/if}#
                </td>
                {% endif %}
            </tr>
            #{/for}#
        </tbody>
        #{/if}#
    </table>
    </script>

    <script>

        tableSettings = {
            dataUrl: "/ajax/devicesData.json",
            pager: {
                rowsOnPage: 53,
                rowList: [10,20,50,100,200,"все"]
            },
            width: '100',
            templates: {
                table: '#dev_tab_tmpl',
                header: '#dev_tab_tmpl',
                body: '#tmpl_body'
            },
            header: {
                tableClasses: "bg-primary table-bordered",
                columns: {
                    region: {name: 'Регион', width: 10},
                    office: {id: 'office', name: 'Офис', width: 15, class: "text-left"},
                    hostname: {id: 'hostname', name: 'Hostname', width: 10},
                    appType: {id: 'app-type', name: 'Тип', width: "45px"},
                    appliance: {id: 'appliance', name: 'Оборудование', width: 20},
                    soft: {id: 'soft', name: 'ПО', width: 15},
                    module: {id: 'module', name: 'Модуль', width: 15},
                    data_port: {id: 'dport', name: 'Интерфейсы', width: 15},
                    {% if not user.readOnly %}
                    action: {id: 'action', name: 'Действия', width: '105px'}
                    {% endif %}
                }
            },
            body: {
                tableClasses: 'table cell-bordered cust-table-striped',
                rowClasses: ''
            }
        };

        jQuery(function ($) {
            APP = APP || {};
//            APP.devTableFilter = {appTypes: 'netDevices'};
            APP.devTableFilter = {appTypes: 'all'};

            var params = {};
//            params.url = '/device/info?ven=8&pl=56';
//            params.url = '/admin/devices?ven=8&pl=66';
            if (window.location.search.length > 1) {
                params.extUrl = window.location.href;
            }
            var devTable = $("#dev_tab");
            devTable.jqTable(tableSettings);
            var workSet = devTable.jqTable('getWorkSet');
            //устанавливаем начальный фильтр по девайсам
            workSet.params.filters =  APP.devTableFilter;
            devTable.jqTable('updateBodyJSON', workSet, params);

            //обработчик клика по ссылкам
            var onLinkClickHandler = function () {
                var href;
                if (href = $(event.target).attr('href')) {
                    if (href.indexOf(':') > 0) {
                        //если нашли двоеточие - значит полный url - надо переходит по нему
                        return;
                    }
                    event.preventDefault();
                    params = workSet.params;
                    params.url = href;
                    devTable.jqTable('updateBodyJSON', workSet, params);
                }
            };
            workSet.bodyObj.on(
                'click',
                workSet,
                onLinkClickHandler
            );
        });
    </script>
    <script>
        var APP = APP || {};
    </script>
{% endblock %}