/*Grid*/
.ui-jqtable {
    /*position: relative;*/
    -moz-box-sizing: border-box !important;
    -webkit-box-sizing: border-box !important;
    box-sizing: border-box !important;
}
.jqtable .jqt-common-table {
    table-layout:fixed !important;
    border-collapse: collapse !important;
    padding: 0;
}
/* caption*/

/* header */
.jqtable .jqt-hd-table {
    margin:0;
}
.jqtable .jqt-hd-table th {
    height: 27px;
    padding-left: 5px;
    padding-right: 5px;
    overflow: hidden !important;
    white-space: nowrap !important;
    text-overflow: ellipsis !important;
    vertical-align: bottom;

}
/* body */
.jqtable .jqt-bd-table {
    margin:0;
}
.jqtable .jqt-bd-table td {
    padding: 2px 5px;
    white-space: normal;
    word-wrap: break-word;
}

/*set color for links in table*/
.jqtable .links-style tbody a{
    color: #337ab7;
}
/* bodyFooter */
.jqtable .jqt-bd-ft-table {
    margin:0;
}
.jqtable .jqt-bd-ft-table td {
    padding: 2px 5px;
    white-space: normal;
    word-wrap: break-word;
}
/* footer */
.jqtable .ui-separator {
    height: 18px;
    border-left: 2px solid #ccc ;
}
.jqtable .ui-pg-input {
    width: 30px;
    height: 100%
}
/*pager*/

.jqtable .jqt-pager span {
    margin-left: 5px;

}
.jqtable .jqt-pager span:last-of-type {
    margin-right: 5px;
}
.jqtable .jqt-pager input {
    margin-left: 5px;
    /*height: 1em;*/
    border: none;
}
.jqtable .jqt-pager .ui-icon {
    cursor: pointer;
}
/*info cell*/
.jqtable .table-footer-info-cell {
    padding: 0 10px;
    height: 2em;
    text-align: left;
    font-size: inherit;
}
/*ui-filter-icon-box hover styles*/
.jqtable .ui-filter-icon-box:hover {
    cursor: pointer;
}
/*global search input field*/
.jqtable .global-filter {
    height: 90% !important;
}
/**/

