{% extends 'Index.html' %}

{% block main %}
    <aside class="col-md-2">
        <input type="text" name="date" id="date">
        <div id="accordion">
            <h3>Оффисы</h3>
            <div>
                <ul id="menu">
                    <li>
                        <div>item 1</div>
                    </li>
                    <li>
                        <div>item 2</div>
                    </li>
                    <li>
                        <div>item 3</div>
                    </li>
                    <li>
                        <div>item 4</div>
                    </li>
                    <li>
                        <div>item 5</div>
                    </li>
                    <li>
                        <div>item 6</div>
                    </li>
                    <li>
                        <div>item 7</div>
                    </li>
                    <li>
                        <div>item 8</div>
                    </li>
                    <li>
                        <div>item 9</div>
                    </li>
                    <li>
                        <div>item 10</div>
                    </li>
                </ul>
            </div>
            <h3>Оборудование</h3>
            <div>
                <p>
                    Sed non urna. Donec et ante. Phasellus eu ligula. Vestibulum sit amet
                    purus. Vivamus hendrerit, dolor at aliquet laoreet, mauris turpis porttitor
                    velit, faucibus interdum tellus libero ac justo. Vivamus non quam. In
                    suscipit faucibus urna.
                </p>
            </div>
            <h3>Договора</h3>
            <div>
                <p>
                    Nam enim risus, molestie et, porta ac, aliquam ac, risus. Quisque lobortis.
                    Phasellus pellentesque purus in massa. Aenean in pede. Phasellus ac libero
                    ac tellus pellentesque semper. Sed ac felis. Sed commodo, magna quis
                    lacinia ornare, quam ante aliquam nisi, eu iaculis leo purus venenatis dui.
                </p>
                <ul>
                    <li>List item one</li>
                    <li>List item two</li>
                    <li>List item three</li>
                </ul>
            </div>
            <h3>Провайдеры</h3>
            <div>
                <p>
                    Cras dictum. Pellentesque habitant morbi tristique senectus et netus
                    et malesuada fames ac turpis egestas. Vestibulum ante ipsum primis in
                    faucibus orci luctus et ultrices posuere cubilia Curae; Aenean lacinia
                    mauris vel est.
                </p>
                <p>
                    Suspendisse eu nisl. Nullam ut libero. Integer dignissim consequat lectus.
                    Class aptent taciti sociosqu ad litora torquent per conubia nostra, per
                    inceptos himenaeos.
                </p>
            </div>
        </div>
    </aside>
    <div class="col-md-10">
        <table class="table table-striped table-hover table-bordered">
            <thead>
            <tr>
                <th>header1</th>
                <th>header2</th>
                <th>header3</th>
                <th>header4</th>
                <th>header5</th>
                <th>header6</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>cell 11</td>
                <td>cell 12</td>
                <td>cell 13</td>
                <td>cell 14</td>
                <td>cell 15</td>
                <td>cell 16</td>
            </tr>
            <tr>
                <td>cell 21</td>
                <td>cell 22</td>
                <td>cell 23</td>
                <td>cell 24</td>
                <td>cell 25</td>
                <td>cell 26</td>
            </tr>
            </tbody>
        </table>
    </div>
{% endblock %}
