{% extends 'Index.html' %}

{% block main %}

    <div class="col-sm-2">

    </div>
    <div class="col-md-10">
        <table>
            <thead>
            <tr>
                <th>Регион</th>
                <th>Город</th>
                <th>Адрес</th>
                <th>Оффис</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>cell 11</td>
                <td>cell 12</td>
                <td>cell 13</td>
                <td>cell 14</td>
            </tr>
            <tr>
                <td>cell 21</td>
                <td>cell 22</td>
                <td>cell 23</td>
                <td>cell 24</td>
            </tr>
            </tbody>
        </table>
    </div>
{% endblock %}
