<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>IPAM</title>
    <link rel="stylesheet" href="/ipam/staticCss/normalize.css">
    <link rel="stylesheet" href="/ipam/staticCss/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="/ipam/staticCss/custGlobalStyles.css">
<link href="/ipam/css/main.cf8bd259c3d51f000a91.css" rel="stylesheet"></head>
<body style="height: 100vh">
    <div style="height: 100vh" id="root-container"></div>
    <script>(function() {window.ipamDebug = false})()</script>
<script type="text/javascript" src="/ipam/js/vendors.main.js"></script><script type="text/javascript" src="/ipam/js/main.js"></script></body>
</html>