{% extends 'Index.html' %}

{% block main %}
    {#<div class="panel panel-default">#}
        {#<div class="panel-body">#}
            {#{% for record in records %}#}
                {#<span id="{{ loop.index|trim }}">{{ record }}</span><br>#}
            {#{% endfor %}#}
        {#</div>#}
    {#</div>#}
    <div class="panel panel-default">
        <div class="panel-body">
            <table>
                <tbody style="border: 1px solid #ddd">
                {% for record in records %}
                    <tr style="border: 1px solid #ddd; vertical-align: top">
                        <td class="col-15">
                            {{ record["header"]|raw }}
                        </td>
                        <td>
                            [ip]: {{ record["ip"] }}<br>
                            [message]: {{ record["message"] }}<br>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <script>
        var APP = APP || {};
        if ("{{ eraseApplianceLogUrl }}") {
            $("#actions").removeClass("hidden");
            $("#eraseLog").removeClass("hidden");
            APP.setLink("#eraseLog", "{{ eraseApplianceLogUrl }}");
        }
    </script>
{% endblock %}
